.titrementions {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #335036;
}
.grandtitrementions {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 29px;
  color: #335036;
}
.titresecondmentions {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  color: #335036;
}
.textementions {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 31px;
  text-align: justify;
  margin-top: 30px;
}
.blocc {
  margin-top: 20px;
}
.table {
  border: 1px solid #dee2e6;
  margin-top: 43px;
}
.titreovh {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 29px;
  color: #335036;
}
.lienUn {
  font-weight: bold;
  color: #335036;
  border-bottom: 2px solid #335036;
}
.bordertable {
  border: 1px solid;
}
.lienUn:hover {
  text-decoration: none;
}
.position {
  margin-top: 30px;
}
li {
  color: #335036;
}
.cookies {
  color: #335036;
}
.titrementions {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  color: #335036;
}
.lpb-titrementionss {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #335036;
  margin: 30px 0px;
}
@media (max-width: 640px) {
  .lpb-titrementionss {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #335036;
    margin: 20px 0px;
  }
  .bloctexte {
    padding: 0px;
  }
  .titrementions {
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-top: 0px;
  }
  .blocc {
    margin-top: 28px;
    margin: 0;
    padding: 0;
  }
  .textementions {
    font-size: 10px;
    line-height: 20px;
    margin-top: 0px;
  }
  .grandtitrementions {
    text-align: center;
    padding-top: 69px;
  }
  .titresecondmentions {
    margin: 0px 0px 15px;
    text-align: center;
  }
}
