.lpb-home-pageslider-video-container {
    position: relative;
  }
.lpb-ours-section-pageslider-video-full {
    object-fit: cover;
    width: 100vw;
    height: 380px;
    top: 0;
    left: 0;
}
.lpb-blocgreentextpedagogie{
    padding: 66px 0px 20px 0px;
}
.lpb-videopause{
    object-fit: cover;
    width: 100vw;
    height: 490px;
    top: 0;
    left: 0;
}
.lpb-videopause:focus{
    outline: none;
}
.lpb-ours-section-pageslider-video-full::-webkit-media-controls-timeline {
    display: none;
}
.lpb-home-pageslider-video-wrap-sections {
    position: absolute;
    background-color: rgba(51, 80, 54, 0.7);
    z-index: 2;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
}
.lpb-home-pageslider-video-title-sections {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-align: center;
    color: #f6f6f6;
    width: 100%;
    top: 40%;
    position: absolute;
}  
.lpb-titlesousslide{
 
font-size: 20px;
font-style: normal;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
color: #335036;

}
.lpb-imgblocnocolorpedagogie{
    width: 100%;
}
.lpb-bloctextesousslide{
    padding: 50px;
}

.lpb-blocgreenpedagogie{
    background-color: #335036 ;
    margin-top: 50px;
}
.lpb-imgblocgreenpedagogie{
    width: 70%;
}
.lpb-titleblocgreenpedagogie{
font-size: 25px;
font-style: normal;
line-height: 39px;
letter-spacing: 0em;
text-align: left;
color: #F4E5C2;
}
.lpb-titlesecondblocgreenpedagogie{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #F4E5C2;
}
.lpb-texteblocgreenpedagogie{
    color: #F7F7F7;
font-size: 16px;
font-style: normal;
line-height: 25px;
letter-spacing: 0em;
text-align: justify;

}
.lpb-blocimagegreenpedagogie{
    margin-top: 200px;
    padding: 0;
}
.lpb-titlesousblocgreen{
    font-size: 30px;
font-style: normal;
line-height: 44px;
letter-spacing: 0em;
text-align: center;
color: #335036;
}
.lpb-bloctextesousblocgreen{
    padding: 50px;
}
.lpb-texteblocnocolorpedagogie{
font-size: 16px;
font-style: normal;
line-height: 31px;
letter-spacing: 0em;
text-align: justify;
color: #335036;
}
.lpb-blocnocolortextpedagogie{
    padding: 0px;
}
.lpb-blocnocolorpedagogie{
    background-color: #F4E5C2;
    padding-bottom: 60px;
}
.lpb-blocgraypedagogie{
    background-color: #E5E5E5;
    padding: 20px;
}
.lpb-titleblocgraypedagogie{
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: center;
color: #335036;

}
.lpb-texteblocgraypedagogie{
font-size: 16px;
font-style: normal;
line-height: 27px;
letter-spacing: 0em;
text-align: justify;
color: #335036;
}
.lpb-texteblocgraypedagogiesecond{
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justify;
    color: #335036;
    margin-top: 40px;
    }
.lpb-imgbloccentre{
height: 406px;
width: 406px;
position: relative;
}
.lpb-textimgbloccentre{
    position:absolute;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;
text-align: center;
color: white;
margin-top: -215px;

}
.lpb-bloccentre{
    margin-left: 375px;
    margin-top: 300px;

}
.lpb-bloccercle{
    position: relative;
}

.lpb-transform {
    padding: 0px !important;
    background: transparent !important;
    border-radius: 9px !important;
    height: 13px !important;
    margin-top: -5px;
    width: 9% !important;
    color: transparent !important;
}
.lpb-transform:hover{
    text-decoration: underline !important;
}
.lpb-btn-engagementcolor{
    height: 70px;
width: 385px;
border-radius: 20px;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: white;
background: #A8B674;
border-radius: 61px;
border: none;
cursor: pointer;    
outline: none;
margin-top: 20px;
margin-bottom: 20px;

}
.lpb-icone-play-pedagogie{
    position: absolute;
    margin-top: 200px;
    left: 45%;
}
.lpb-texteicone-pedagogie{
color: white;
font-size: 16px;
font-style: normal;
font-weight: 350;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}
.lpb-modal-pedagogie{
    margin-top: 100px !important;
    padding: 0px !important;
    /* width: 750px; */
}
.lpb-width-modal{
    width: 900px !important;
}
.lpb-buttonclose-pedagogie{
    /* color: white; */
    background-color:white;
    border: none;
    outline: none;
}
.lpb-image-damesourire-pedagogie{
    height: 490px;
    width: 100%;

}






@media (max-width: 640px) {
    .lpb-image-damesourire-pedagogie{
        Height: 270px;
    
    }
    .lpb-icone-play-pedagogie {
        margin-top: 100px;
        left: 37%;
    }
    .lpb-btn-engagementcolor{
        height: 70px;
        width: 330px;
        
    
    }
    .lpb-ours-section-pageslider-video-full {
        height: 552px;
    }
    .lpb-videopause{
      
        height: 268px;
    
    }
    .lpb-home-pageslider-video-title-sections{
        font-size: 32px;
    }
    .lpb-titlesousslide{
        text-align: left;
        font-size: 14px;
    }
    .lpb-bloctextesousslide {
        padding: 26px;
    }
    .lpb-titleblocgreenpedagogie {
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        margin-top: 26px;
    }
    .lpb-blocgreentextpedagogie{
        padding: 20px 10px;
    }

    .lpb-imgblocgreenpedagogie {
        position: absolute;
        left: 10%;
        margin-top: -394px;
    }
    .lpb-texteblocgreenpedagogie{
        position: relative;
        top: 45%;

    }
    .lpb-blocgreenpedagogie {
        height: 770px;
    }
    .lpb-titlesousblocgreen {
        font-size: 19px;
        line-height: 26px;
    }
    .lpb-responsiveblocmarronpedagogique{
        padding: 30px !important;
    }
    .lpb-titleblocgraypedagogie {
        font-size: 16px;
        line-height: 30px;
    }
    .lpb-btn-engagementcolor {
       position: absolute;
       height: 70px;
        width: 330px;
    }
}
@media (min-width: 320px) and (max-width: 374px){
    .lpb-btn-engagementcolor {
        position: absolute;
        height: 70px;
        width: 281px;
        margin-top: 150px;
        font-size: 14px;
    }

    .lpb-imgblocgreenpedagogie {
        margin-top: -600px;
    }
    .lpb-texteblocgreenpedagogie {
        top: 23%;
    }
    .lpb-blocgreenpedagogie {
        height: 950px;
    }
    .lpb-bloctextesousblocgreen {
        padding: 38px;
    }
    .lpb-blocgraypedagogie {
        padding: 10px;
    }
}
@media (min-width: 375px) and (max-width: 425px){
    .lpb-imgblocgreenpedagogie {
        margin-top: -540px;
    }
    .lpb-texteblocgreenpedagogie {
        top: 24%;
    }
    .lpb-blocgreenpedagogie {
        height: 900px;
    }
    .lpb-btn-engagementcolor {
        margin-top: 207px;

    }
}
@media (min-width: 425px) and (max-width: 640px){
    .lpb-blocgreenpedagogie {
        height: 880px;
    }
    .lpb-btn-engagementcolor {
        width: 370px;
        margin-top: 245px;
    }

}
@media (min-width: 400px) and (max-width: 424px){
    .lpb-imgblocgreenpedagogie {
        margin-top: -480px;
    }
    .lpb-texteblocgreenpedagogie {
        top: 30%;
    }
}