
.lpb-margin-suite-blog {
  margin-left: 0px !important;
  margin-top: 80px;
  margin-bottom: 80px !important;
}

.lpb-catesuiteblog {
  padding-left: 20px;
}



@media (min-width: 319px) and (max-width: 645px) {
  .lpb-margin-suite-blog {
    margin-left: 0px !important;
    margin-top: 40px;
    margin-bottom: 40px !important;
  }
}
