<!DOCTYPE html>
<html>
    <head>
        <title>Email LPB</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <meta charset="utf-8"/>

        <style type="text/css">
        body{
           width: 100%;
           font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-style: normal;
        }
        .body-LPB{
          margin: 0 auto;
          width: 50%;
        }
            .LPB {
                border-bottom: 1px solid #E2E2E2;
                padding-bottom: 25px;
            }
            .LPB-bloc-texte h2 {
                color: #335036;
            }
            .LPB-bloc-texte P {
                line-height: 25px;
            }
            .LPB-bloc-texte span {
                color: #A8B674;
                font-weight: bold;
            }
            .LPB-bouton button {
                background-color: #335036;
                box-shadow: 0px 2px 5px 5px #3350361c;
                border-radius: 40px;
                border: none;
                color: white;
                padding: 13px 30px;
                margin:25px 0;
                font-family: 'Montserrat', sans-serif !important;

            font-style: normal;
            font-weight: 500;
            }
            .LPB-reseauxsociaux {
            margin-bottom: 35px;
            }
            .LPB-reseauxsociaux h2 {
             color: #335036;
            }
            .reseauxsociaux svg {
            margin-right: 5px;
            }
            .LPB-mail{
                background-color: #EEEEEE;
                color:gray;
                padding: 20px 40px;
                text-align: justify;
            }
            .LPB-mail span{
                font-weight: bold;
            }

        </style>

    </head>

    <body>
        <div class="body-LPB">
            <div class="LPB">

            </div>

            <div class="LPB-bloc-texte">
                <h2>
                    Bonjour <span>{{username}}</span>
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl, integer neque rutrum enim. Arcu orci, odio at et.
                Tristique id tristique lobortis lorem neque, urna vulputate at at. Condimentum rhoncus, quam fames magna.</p>
                <h2>
                    Découvrez Les p’tits bouchons
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl, integer neque rutrum enim. Arcu orci, odio at et.
                Tristique id tristique lobortis lorem neque, urna vulputate at at. Condimentum rhoncus, quam fames magna.</p>
            </div>

            <div class="LPB-bouton">
                <button>Découvrir</button>
            </div>

            <div class="LPB-reseauxsociaux">
                <h2>Suivez-nous sur les réseaux</h2>

                <div class="reseauxsociaux">

                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M19.6875 10.5C19.6875 5.14844 15.3516 0.8125 10 0.8125C4.64844 0.8125 0.3125 5.14844 0.3125 10.5C0.3125 15.3438 3.82812 19.3672 8.47656 20.0703V13.3125H6.01562V10.5H8.47656V8.39062C8.47656 5.96875 9.92188 4.60156 12.1094 4.60156C13.2031 4.60156 14.2969 4.79688 14.2969 4.79688V7.17969H13.0859C11.875 7.17969 11.4844 7.92188 11.4844 8.70312V10.5H14.1797L13.75 13.3125H11.4844V20.0703C16.1328 19.3672 19.6875 15.3438 19.6875 10.5Z" fill="#656363"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                        <path d="M16.5 0.75H1.46094C0.796875 0.75 0.25 1.33594 0.25 2.03906V17C0.25 17.7031 0.796875 18.25 1.46094 18.25H16.5C17.1641 18.25 17.75 17.7031 17.75 17V2.03906C17.75 1.33594 17.1641 0.75 16.5 0.75ZM5.52344 15.75H2.94531V7.42969H5.52344V15.75ZM4.23438 6.25781C3.375 6.25781 2.71094 5.59375 2.71094 4.77344C2.71094 3.95312 3.375 3.25 4.23438 3.25C5.05469 3.25 5.71875 3.95312 5.71875 4.77344C5.71875 5.59375 5.05469 6.25781 4.23438 6.25781ZM15.25 15.75H12.6328V11.6875C12.6328 10.75 12.6328 9.5 11.3047 9.5C9.9375 9.5 9.74219 10.5547 9.74219 11.6484V15.75H7.16406V7.42969H9.625V8.5625H9.66406C10.0156 7.89844 10.875 7.19531 12.125 7.19531C14.7422 7.19531 15.25 8.95312 15.25 11.1797V15.75Z" fill="#656363"/>
                    </svg>

                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
                        <path d="M9 5.00781C6.5 5.00781 4.50781 7.03906 4.50781 9.5C4.50781 12 6.5 13.9922 9 13.9922C11.4609 13.9922 13.4922 12 13.4922 9.5C13.4922 7.03906 11.4609 5.00781 9 5.00781ZM9 12.4297C7.39844 12.4297 6.07031 11.1406 6.07031 9.5C6.07031 7.89844 7.35938 6.60938 9 6.60938C10.6016 6.60938 11.8906 7.89844 11.8906 9.5C11.8906 11.1406 10.6016 12.4297 9 12.4297ZM14.7031 4.85156C14.7031 4.26562 14.2344 3.79688 13.6484 3.79688C13.0625 3.79688 12.5938 4.26562 12.5938 4.85156C12.5938 5.4375 13.0625 5.90625 13.6484 5.90625C14.2344 5.90625 14.7031 5.4375 14.7031 4.85156ZM17.6719 5.90625C17.5938 4.5 17.2812 3.25 16.2656 2.23438C15.25 1.21875 14 0.90625 12.5938 0.828125C11.1484 0.75 6.8125 0.75 5.36719 0.828125C3.96094 0.90625 2.75 1.21875 1.69531 2.23438C0.679688 3.25 0.367188 4.5 0.289062 5.90625C0.210938 7.35156 0.210938 11.6875 0.289062 13.1328C0.367188 14.5391 0.679688 15.75 1.69531 16.8047C2.75 17.8203 3.96094 18.1328 5.36719 18.2109C6.8125 18.2891 11.1484 18.2891 12.5938 18.2109C14 18.1328 15.25 17.8203 16.2656 16.8047C17.2812 15.75 17.5938 14.5391 17.6719 13.1328C17.75 11.6875 17.75 7.35156 17.6719 5.90625ZM15.7969 14.6562C15.5234 15.4375 14.8984 16.0234 14.1562 16.3359C12.9844 16.8047 10.25 16.6875 9 16.6875C7.71094 16.6875 4.97656 16.8047 3.84375 16.3359C3.0625 16.0234 2.47656 15.4375 2.16406 14.6562C1.69531 13.5234 1.8125 10.7891 1.8125 9.5C1.8125 8.25 1.69531 5.51562 2.16406 4.34375C2.47656 3.60156 3.0625 3.01562 3.84375 2.70312C4.97656 2.23438 7.71094 2.35156 9 2.35156C10.25 2.35156 12.9844 2.23438 14.1562 2.70312C14.8984 2.97656 15.4844 3.60156 15.7969 4.34375C16.2656 5.51562 16.1484 8.25 16.1484 9.5C16.1484 10.7891 16.2656 13.5234 15.7969 14.6562Z" fill="#656363"/>
                    </svg>

                </div>

            </div>

            <div class="LPB-mail">
                <p>
                    Ce mail a été envoyé à l’adresse <span>{{email}}</span>, car vous
                    vous êtes récemment inscrits sur les p’tits bouchons.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl,
                    integer neque rutrum enim. Arcu orci, odio at et. Tristique id tristique
                    lobortis lorem neque, urna vulputate at at. Condimentum rhoncus, quam fames magna.
                </p>

            </div>


        </div>



    </body>

</html>
