@font-face {
  font-family: 'lpb-Icon';
  src:  url('fonts/lpb-Icon.eot?zeq8tm');
  src:  url('fonts/lpb-Icon.eot?zeq8tm#iefix') format('embedded-opentype'),
    url('fonts/lpb-Icon.ttf?zeq8tm') format('truetype'),
    url('fonts/lpb-Icon.woff?zeq8tm') format('woff'),
    url('fonts/lpb-Icon.svg?zeq8tm#lpb-Icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="lpb-icon"], [class*=" lpb-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lpb-Icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lpb-icon-call:before {
  content: "\e900";
}
.lpb-icon-time:before {
  content: "\e901";
}
.lpb-icon-map:before {
  content: "\e902";
}
