.lpb-home-img-full-container {
    height: 300px;
}
.lpb-register-card-container {
    margin-top: -100px;
    padding-bottom: 150px;
}
.lpb-register-card-wrap {
    border-radius: 37px;
    background: white!important;
}
.lpb-register-card-head-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #335036;
}
.lpb-register-choice-head-box {
    display: inline-flex;
}
.lpb-register-card-head-content {
    margin: 20px 10% 100px 10%!important;
}
.lpb-register-card-head-desc {
    margin-top: 16px;
}
.lpb-register-step-wrap {
    margin: 0px 6% 70px 6%!important;
}
.lpb-register-step-cicle-active svg {
    padding-top: 12px;
    fill: #FFFFFF;
}
.lpb-register-step-cicle-inactive svg {
    padding-top: 12px;
    fill: #DADADA;
}
.lpb-register-step-cicle-active {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #335036;
} 
.lpb-register-step-cicle-inactive {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
}
.lpb-register-step-cicle-container {
    margin-top: -42px;
}
.lpb-register-step-cicle-divider {
    margin-left: 11%;
    margin-right: 11%;
} 
.lpb-register-step-cicle-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #335036;
    margin-top: 20px;
}
.lpb-register-btn-not-bg-footer, .lpb-register-btn-not-bg-footer:hover {
    border: none;
    background: none;
    text-transform: none;
    color: #335036;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    padding: 5px 50px 3px 50px;
    display: initial;
  }
.lpb-register-btn-not-bg-footer:disabled, .lpb-register-btn-full-footer:disabled {
    background-color: transparent!important;
    color: #335036!important;
    border-color: #e5e5e5!important;
}
.lpb-register-link-not-bg-footer, .lpb-register-link-not-bg-footer:hover {
    text-decoration: none!important;
}
.lpb-register-btn-full-footer {
    border: 1px solid #335036;
    background-color: #335036;
    border-radius: 44px;
    text-transform: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    padding: 5px 50px 3px 50px;
    display: initial;
  }
  .lpb-register-btn-full-footer:hover {
    border: 1px solid #335036;
    background-color: #ffffff;
    color: #335036;
  }
  .lpb-register-choice-children-wrap {
    background: #EDF3EE;
    border-radius: 19px;
    padding: 23px 20px 23px 20px;
    margin: 0px 11% 56px 11%!important;
}
.lpb-register-choice-children-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 167.9%;
    color: #335036;
    padding-bottom: 15px;
}
.lpb-register-radio-form-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #565656;
    padding-right: 15px;
    cursor: pointer;
}
.lpb-register-btn-radio-form:checked {
    background-color: #335036!important;
}
.lpb-register-btn-radio-form {
    margin-right: 6px;
}

  
.lpb-register-child-container {
    margin-bottom: 70px;
    margin-left: 5%;
    margin-right: 5%;
}
.lpb-register-child-title {
    color: #565656;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}
.lpb-register-checkbox-child-label {
    font-weight: 500;
    font-size: 12px;
    color: #565656;
    cursor: pointer;
}
.lpb-register-btn-checkbox-child:checked {
    background-color: #335036!important;
}
.lpb-register-btn-checkbox-child {
    margin-right: 10px;
}
.lpb-register-child-divider {
    margin-top: 12px;
    height: 3px;
    margin-bottom: 0px;
    background: #335036;
    border: 0px solid #335036;
}
.lpb-register-form-field-wrap {
    margin-top: 30px;
}
.lpb-register-form-field-label {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #565656;
}
.lpb-register-form-field-select {
    color: #335036;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #DADADA!important;
}
.lpb-register-form-field-input {
    color: #335036;
    font-weight: 600;
    font-size: 16px;
    padding-left: 0px!important;
    border: none;
    border-bottom: 1px solid #DADADA!important;
}
.lpb-register-form-field-input-phone {
    font-size: 16px;
    padding-left: 0px!important;
    border: none!important;
    border-bottom: 1px solid #DADADA!important;
    height: 40px;
}
.lpb-register-form-field-input-phone input {
    color: #335036;
    font-weight: 600;
    font-size: 16px;
}
.lpb-register-form-field-input-phone:hover, .lpb-register-form-field-input-phone:active{
    border: none!important;
    border-bottom: 1px solid #335036!important;
    height: 40px;
}
.lpb-register-form-field-input-phone:focus-within {
    box-shadow: none!important;
}
#DADADA
.lpb-register-form-field-input::-webkit-input-placeholder,
.lpb-register-form-field-input-phone input::-webkit-input-placeholder { /* Edge */
    font-weight: normal;
    color: #BEBEBE;
    font-size: 16px;
}
.lpb-register-form-field-input:-ms-input-placeholder,
.lpb-register-form-field-input-phone input:-ms-input-placeholder  { /* Edge */
    font-weight: normal;
    color: #BEBEBE;
    font-size: 16px;
}
.lpb-register-form-field-input::placeholder,
.lpb-register-form-field-input-phone input::placeholder { /* Edge */
    font-weight: normal;
    color: #BEBEBE;
    font-size: 16px;
}
.lpb-register-form-field-input:hover, .lpb-register-form-field-input:active,
.lpb-register-form-field-select:hover, .lpb-register-form-field-select:active
{
    border: none;
    border-bottom: 1px solid #335036!important;
}
.lpb-register-child-label-mobile {
    display: none;
}
.lpb-register-card-thank-wrap {
    border-radius: 30px;
    margin: 8% 28% 10% 28%;
    background: white;
}
.lpb-register-card-thank-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #A8B674;
    padding: 35px 0px 35px 0px;
}
.lpb-register-card-thank-subtitle {
    font-size: 20px;
    line-height: 29px;
    color: #656363;
    padding-bottom: 60px;
}
.lpb-register-card-thank-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A8B674;
    cursor: pointer;
}
.lpb-register-card-thank-content {
    height: 400px!important;
}
.lpb-home-parent-page {
    position: relative;
}
.lpb-register-card-thank-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    overflow-y: hidden;
}
.lpb-register-card-container-thank-box {
    margin-top: 0px!important;
    padding-bottom: 0px!important;
    height: 60vh;
}
.lpb-register-fields-input-required-all {
    font-weight: 500;
    font-size: 14px;
    color: #565656;
    margin-top: 33px;
}
.lpb-register-form-fields-input-phone {
    color: #335036!important;
    font-size: 14px!important;
    line-height: 18px!important;
    border: none!important;
    box-sizing: border-box!important;
    height: 40px!important;
    width: 100%!important;
    border-bottom: 1px solid #DADADA!important;
}
.lpb-register-form-fields-input-phone:hover, .lpb-register-form-fields-input-phone:active {
    border-bottom: 1px solid #335036!important;
}
/*Mobile*/ 
@media screen and (min-width: 320px) and (max-width: 650px){
    .lpb-register-card-head-content {
        margin: 0px 2% 50px 2%!important;
    }
    .lpb-register-card-head-desc {
        font-size: 12px;
    }
    .lpb-register-card-head-desc div {
        margin-top: 10px;
    }
    .lpb-register-card-head-desc div strong {
        font-weight: 600 !important;
    }
    .lpb-register-btn-full-footer, .lpb-register-btn-not-bg-footer {
        padding: 5px 30px 3px 30px;
        font-size: 14px!important;
    }
    .lpb-register-choice-children-wrap {
        margin: 0px 0px 36px 0px!important;
    }
    .lpb-register-infos-msg-attention {
        margin: 0px 0px 40px 0px!important;
    }
    .lpb-register-card-thank-wrap {
        margin: 60% 5% 10% 5%!important;
    }
    .lpb-register-card-thank-title {
        font-size: 22px!important;
        line-height: normal!important;
    }
    .lpb-register-card-thank-subtitle {
        font-size: 16px!important;
        line-height: normal!important;
        padding-bottom: 20px;
    }
    .lpb-register-fields-input-required-all {
        text-align: center!important;
    }
    .lpb-register-creche-card-wrap {
        margin: 0px 4% 30px 4%!important;
    }
    .lpb-register-radio-form-mobile-label-first {
        margin-left: -10px!important;
    }
} 