@media screen and (min-width: 320px) and (max-width: 650px) {
  .lpb-home-page-newsletter-component-content {
    /* Autres code CSS ici {}  */
  }
  .lpb-home-page-newsletter-title {
    font-size: 20px!important;
  }
  .lpb-home-page-newsletter-from-field-input,
  .lpb-home-page-newsletter-from-field-input:hover,
  .lpb-home-page-newsletter-from-field-input:focus {
    width: auto!important;
    padding-left: 12px !important;
  }
  .lpb-home-page-newsletter-from-wrap {
    padding: 10px!important;
  }
  .lpb-congratulation {
    font-size: 28px!important;
  }
}
@media (max-width: 395px) {
  .lpb-home-page-newsletter-from-submit {
    width: auto !important;
    height: 32px !important;
    font-size: 11px !important;
    padding: 0px 7px !important;
  }
  .lpb-home-page-newsletter-from-field-input,
  .lpb-home-page-newsletter-from-field-input:hover,
  .lpb-home-page-newsletter-from-field-input:focus{
    font-size: 11px !important;
    width: auto !important;
    padding-left: 12px !important;
    height: 32px !important;
  }
}

.lpb-home-page-newsletter-container {
    position: relative;
  }
  .lpb-home-page-newsletter-container-cover {
    position: absolute;
    background: rgba(51, 80, 54, 0.7);
    height: 100%;
    width: 100%;
  }
  .lpb-home-page-newsletter-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }
  .lpb-home-page-newsletter-desc {
    padding-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  .lpb-home-page-newsletter-from-wrap {
    padding: 25px;
    display: inline-flex;
  }
  .lpb-home-page-newsletter-from-field-input,
  .lpb-home-page-newsletter-from-field-input:hover,
  .lpb-home-page-newsletter-from-field-input:focus {
    color: #999797;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-left: 65px;
    width: 337px;
    border: none;
    box-sizing: border-box;
    border-radius: 33px 0px 0px 33px;
  }
  .lpb-home-page-newsletter-from-submit {
    border: none;
    background: #f4e5c2;
    border-radius: 0px 33px 33px 0px;
    text-transform: none;
    color: #335036;
    font-weight: 600;
    font-size: 15px;
    display: initial;
    width: 140px;
    height: 40px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
  .lpb-home-page-newsletter-from-submit:hover,
  .lpb-home-page-newsletter-from-submit:focus,
  .lpb-home-page-newsletter-from-submit:active {
    border: none;
    background-color: #f4e5c2;
    color: #335036;
  }
  .blocnewsletter {
      width: 100%;
      max-height: 100%;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
  }  
  .blocnewsletter-message{
      color: white;
      font-size: 20px;
  }
  .lpb-img-newsletter {
    width: 9%;
    position: relative;
    margin-bottom: -29px;
}
  .lpb-congratulation{
    font-weight: bold;
    color: white;
    font-size: 36px;
  }
  .lpb-spinner{
     color:white;
     position: absolute;
  }
  .uk-button-danger:disabled, .uk-button-default:disabled, .uk-button-primary:disabled, .uk-button-secondary:disabled {
    background-color:#f4e5c2;
}
.uk-button-danger:disabled, .uk-button-default:disabled, .uk-button-primary:disabled, .uk-button-secondary:disabled:hover {
    color: gray !important;
}
.ant-form-item-explain {
  color: #ffffff !important;
}