<!DOCTYPE html>
<html>
<head>
    <title>Email LPB</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
            rel="stylesheet"
    />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
        body {
            /*width: 70%;*/
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            margin: 0 auto;
        }

        .firstphrase {
    margin-top: 70px;
}
        .body-LPB {
            margin: 0 auto;
            width: 86%;


        }

        .LPB {
            text-align: center;
        }

        .LPB-bb {
            text-align: center;
            display: block;
            margin: 20px 0;
            /* display: none */
        }


        .LPB-bloc-texte P {
            line-height: 25px;
            font-size: 18px;
        }

        .LPB-bloc-texte span {
            color: #a8b674;
            font-weight: bold;
        }

        .LPB-bouton button {
            background-color: #335036;
            box-shadow: 0px 2px 5px 5px #3350361c;
            border-radius: 40px;
            border: none;
            color: white;
            padding: 13px 30px;
            margin: 25px 0;
            font-family: "Montserrat", sans-serif !important;

            font-style: normal;
            font-weight: 500;
        }

        .LPB-reseauxsociaux {
            margin-bottom: 15px;
            background-color: #335036;
            text-align: center;
            padding: 20px 0;
        }

        .LPB-reseauxsociaux h2 {
            color: white;
        }

        .reseauxsociaux img {
            margin-right: 5px;
            color: white;
            width: 2%;
        }

        .LPB-mail {
            color: #335036;
            text-align: center;
        }

        .LPB-mail p {
            line-height: 20px;
            font-size: 18px;
        }

        .LPB-mail span {
            font-weight: bold;
        }

        .LPB-reseauxsociaux a {
            text-decoration: none;
        }


        @media  (max-width: 640px) {
            .body-LPB {
                padding: 0 10px;
                width: 95%;
                margin: 8% auto;
            }

    
        .reseauxsociaux img {
             margin-right: 5px;
             color: white;
             width: 5%;
            }
            .LPB-bb {
                display: block;
                margin: 20px 0;
            }

            .LPB-mail p {
                line-height: 15px;
                font-size: 12px;
            }

            .LPB-bloc-texte p {
                font-size: 13px;
            }

            .LPB-bloc-texte h2 {
                font-size: 16px;
            }

            .LPB-reseausociaux {
                margin-bottom: 0;
            }
        }
        @media  (min-width: 641px) and  (max-width: 1024px){
        .reseauxsociaux img {
   
    width: 3%;
}
}
    </style>
</head>

<body>
<div class="body-LPB">
    <div class="LPB"
         style="background-image: url('https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png'); height:100px; background-size:contain;background-repeat:no-repeat;background-position:center;">
        <!--<img
          src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png"
          alt="Petits bouchons"
        />-->
    </div>
    <!--<div class="LPB-bb"
         style="background-image: url('https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/Rectangle+84.jpg'); height:200px; background-size:contain;background-repeat:no-repeat;background-position:center;">
    </div>-->

    <div class="LPB-bloc-texte">
        <p class="firstphrase">Bonjour {{name}},</p>
        <p>
            Nous avons bien reçu votre demande de contact sur notre site Les
            P'tits Bouchons et vous en remercions. <br/>Nos équipes vous
            répondront dans les meilleurs délais.
        </p>
        <br/>
        <p>
            L’équipe Les P'tits Bouchons
        </p>
    </div>
    <br/><br/>
    <div class="LPB-reseauxsociaux">
        <h2>Suivez-nous !</h2>

        <div class="reseauxsociaux">

            <a target="_blank" href="https://www.instagram.com/lesptitsbouchons.lu/">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/facebook+(2).png"
                     alt="Petits bouchons" />
            </a>

            <a target="_blank" href="https://www.instagram.com/lesptitsbouchons.lu/">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/instagram+(2).png"
                     alt="Petits bouchons" />
            </a>
            <a target="_blank" href="https://lu.linkedin.com/company/aura-group-integrate-humanity">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/linded.png"
                     alt="Mascottes N'AIRGYM"/>
            </a>
           
        </div>
    </div>

    <div class="LPB-mail">
        <p>
            <span> Traitement(s) et communication(s) des informations</span>
            : Conformément à la loi « Informatiques et Libertés », vous disposez
            d’un droit d’accès, de rectification
            et de suppression des données vous concernant.
            Pour exercer ce droit, veuillez vous adresser par courrier à :

            3, rue des Artisans L-3895 Foetz

            ou par mail à l’adresse suivante : contact@lesptitsbouchons.lu.
        </p>
    </div>
</div>
</body>
</html>
