.lpb-contact-box-infos-container {
    padding-bottom: 20px;
}
.lpb-contact-box-infos-divider {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.lpb-contact-box-infos-title {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #A8B674;
}
.lpb-contact-box-infos-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #565656;
    padding-bottom: 8px;
    display: flex;
}
.lpb-contact-box-infos-subtitle svg {
    margin-right: 16px;
    width: 12px;
}