.address-card li{
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  list-style: none;
  margin: 0 0 20px;
  padding-left: 25px;
  position: relative;
}

.address-card li[class^="icon-"]:before {
  font-family: 'lpb-Icon' !important;
  font-size: 17px;
  position: absolute;
  left: 0px;
  color: #A8B674;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.address-card .icon-call:before {
  content: "\e900";
}
.address-card .icon-time:before {
  content: "\e901";
}
.address-card .icon-map:before {
  content: "\e902";
}

.lpb-blocgreenint h2{
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  margin-left: 30px;
  color: #fff;
}
.lpb-textcenter {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 33px;

  text-align: center;
  color: #335036;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lpb-textcenterMaria {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  line-height: 33px;

  text-align: center;
  color: #335036;
  margin-top: 20px;
  margin-bottom: 20px;
}
.lpb-imgleftbloc2 {
  margin: 0px;
  width: 100% !important;
}
.lpb-backsection {
  padding: 40px 20px 40px 20px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.lpb-foyerbloc {
  padding: 10px 0px 10px 26px !important;
}
.lpb-textebloc2 {
  margin: 0 !important;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;

  text-align: justifY;
  color: #335036;
}
.lpb-titrebloc2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;

  text-align: left;
  color: #335036;
  margin: 0px 0px 0px 0px;
}
.lpb-blocgreen {
  background-color: #335036;
  width: 285px;
  height: auto;
  border-radius: 40px;
  position: relative;
  top: 68px;
  left: 10px;
  padding: 14px 0px 0px 0px !important;
  z-index: 2;
}
.lpb-btncreche {
  cursor: pointer;
  outline: none;
}
.lpb-marginbloc {
  margin-left: 0;
}

.lpb-paddingcard {
  padding: 10px !important;
}
.lpb-ullist {
  display: flex;
  margin-top: -8px;
  list-style: none;
}
.lpb-listblocgreen {
  font-weight: 500;
  margin-left: 8px;
  font-size: 12px;
  color: white;
  line-height: 15px;
}
.lpb-titreblocgreen {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;

  margin-left: 30px;
  color: white;
}
.lpb-blocgray {
  background-color: #ecdbb5;
  margin-top: 60px;
  padding: 50px;
}
.lpb-imgleftbloc {
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.lpb-btnpreinscription:hover {
  color: white;
  border: none;
  background-color: #335036;
}
.lpb-btncreche {
  cursor: pointer;
  color: white;
  border: none;
  background-color: #335036;
  border-radius: 44px;
  outline: none;
  font-size: 16px;
  margin-top: 10px;
  height: 68px;
  width: 237px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: none !important;
  box-shadow: 0px 1.7745075225830078px 5.073928356170654px 0px #335036;
}
.lpb-btnpreinscriptionbloc {
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  background-color: #335036;
  border-radius: 44px;
  font-size: 16px;
  margin-top: 20px;
  height: 68px;
  width: 237px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: none !important;
  box-shadow: 0px 1.7745075225830078px 5.073928356170654px 0px #335036;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
}

.lpb-btnpreinscription {
  cursor: pointer;
  outline: none;
  color: white;
  border: none;
  background-color: #335036;
  border-radius: 44px;
  font-size: 16px;
  margin-top: 20px;
  height: 68px;
  width: 237px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: none !important;
  box-shadow: 0px 1.7745075225830078px 5.073928356170654px 0px #335036;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  -ms-border-radius: 44px;
  -o-border-radius: 44px;
}
.lpb-titleimgblocpreinscription {
  margin: 0px;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;

  color: white;
}
.lpb-textcenterbloc {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  text-align: center;
  color: #335036;
}
.lpb-imgblocbbpreinsciption {
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.uk-panel {
  position: unset !important;
}
.lpb-overlay {
  background-color: green;
}

.lpb-position {
  margin-bottom: 30px;

  position: relative;
}
.lpb-color:hover {
  border: none;
  background-color: #ffffff !important;
  color: #a8b674 !important;
}
.lpb-btnpreinscriptionbloc:hover {
  border: none;
  background-color: #ffffff !important;
  color: #a8b674 !important;
}
.lpb-blocnocolorhaut {
  margin-top: -45px !important;
}
.lpb-foyer {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.lpb-foyer-cover {
  border-radius: 10px;
  position: absolute;
  background: rgba(51, 80, 54, 0.7);
  height: 100%;
  width: 100%;
}
.lpb-contentfoyer-text {
  color: #ffffff;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.lpb-leftbtn {
  text-align: left;
}
@media (min-width: 320px) and (max-width: 374px){

  .lpb-blocgreen {
    left: 2px;
  }
}
@media (min-width: 359px) and (max-width: 360px) {
  .lpb-textcenter {
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-textcenterMaria {
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-blocgreen {
    top: 43px;
    left: 14px;
  }

  .lpb-titrebloc2 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .lpb-titleimgblocpreinscription {
    font-size: 22px;
    line-height: 25px;
  }
  .lpb-textcenterbloc {
    font-size: 12px;
    line-height: 14px;
  }

  .lpb-btnpreinscription {
    height: 58px;
  }
  .lpb-textebloc2 {
    margin: 20px !important;
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-leftbtn {
    text-align: center;
  }
  .lpb-btncreche {
    border-radius: 36px;

    font-size: 14px;

    height: 56px;
    width: 197px;
  }
}
@media (min-width: 540px) and (max-width: 640px){
  .lpb-blocgreen {
    top: 63px;
    left: 94px;
}
}
@media (min-width: 361px) and (max-width: 380px) {
  .lpb-textcenter {
    font-size: 14px;
    line-height: 23px;
  }
  .lpb-foyerbloc {
    padding: 10px 0px 10px 24px !important;
  }

  .lpb-textcenterMaria {
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-blocgreen {
    top: 46px;
    left: 30px;
  }

  .lpb-titrebloc2 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .lpb-titleimgblocpreinscription {
    font-size: 22px;
    line-height: 25px;
  }
  .lpb-textcenterbloc {
    font-size: 12px;
    line-height: 14px;
  }

  .lpb-btnpreinscription {
    height: 58px;
  }
  .lpb-textebloc2 {
    margin: 20px !important;
    font-size: 16px;
    line-height: 23px;
  }

  .lpb-leftbtn {
    text-align: center;
  }
  .lpb-btncreche {
    border-radius: 36px;

    font-size: 14px;

    height: 56px;
    width: 197px;
  }
}

@media (min-width: 381px) and (max-width: 415px) {
  .lpb-foyerbloc {
    padding: 10px 0px 10px 26px !important;
  }
  .lpb-leftbtn {
    text-align: center;
  }

  .lpb-btncreche {
    border-radius: 36px;

    font-size: 14px;

    height: 56px;
    width: 197px;
  }
  .lpb-banner-title-content {
    font-size: 38px;
    line-height: 42px;
  }

  .lpb-banner-desc-content {
    font-size: 25px;
    line-height: 28px;
  }

  .lpb-textcenter {
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-textcenterMaria {
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-blocgreen {
    top: 48px;
    left: 43px;
  }

  .lpb-titrebloc2 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .lpb-titleimgblocpreinscription {
    font-size: 22px;
    line-height: 25px;
  }
  .lpb-textcenterbloc {
    font-size: 12px;
    line-height: 14px;
  }

  .lpb-btnpreinscription {
    height: 58px;
  }
  .lpb-textebloc2 {
    margin: 20px !important;
    font-size: 14px;
    line-height: 23px;
  }

  .lpb-leftbtn {
    text-align: center;
  }
  .lpb-btncreche {
    border-radius: 36px;

    font-size: 14px;

    height: 56px;
    width: 197px;
  }
}

@media (min-width: 1022px) and (max-width: 1025px) {
  .lpb-blocgreen {
    left: 20px;
    top: 52px;
  }
}

@media (min-width: 1250px) and (max-width: 1300px) {
  .lpb-blocgreen {
    left: 20px;
    top: 55px;
  }
}
@media (min-width: 2300px) and (max-width: 2400px) {
  .lpb-blocgreen {
    top: 80px;
  }
}
