<!DOCTYPE html>
<html>
<head>
    <title>Email LPB</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
            rel="stylesheet"
    />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
        body {
            /*width: 70%;*/
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            margin: 0 auto;
        }

        .body-LPB {
            margin: 0 auto;
            width: 50%;


        }

        .LPB {
            text-align: center;
        }

        .LPB-bb {
            text-align: center;
            display: block;
            margin: 20px 0;
            /* display: none */
        }

        .LPB-bloc-texte h2 {
            color: #335036;
        }

        .LPB-bloc-texte P {
            line-height: 25px;
        }

        .LPB-bloc-texte span {
            color: #a8b674;
            font-weight: bold;
        }

        .LPB-bouton button {
            background-color: #335036;
            box-shadow: 0px 2px 5px 5px #3350361c;
            border-radius: 40px;
            border: none;
            color: white;
            padding: 13px 30px;
            margin: 25px 0;
            font-family: "Montserrat", sans-serif !important;

            font-style: normal;
            font-weight: 500;
        }

        .LPB-reseauxsociaux {
            margin-bottom: 15px;
            background-color: #335036;
            text-align: center;
            padding: 20px 0;
        }

        .LPB-reseauxsociaux h2 {
            color: white;
        }

        .reseauxsociaux img {
            margin-right: 5px;
            color: white;
        }

        .LPB-mail {
            color: #335036;
            text-align: center;
        }

        .LPB-mail p {
            line-height: 20px;
        }

        .LPB-mail span {
            font-weight: bold;
        }

        .LPB-reseauxsociaux a {
            text-decoration: none;
        }
        @media (max-width: 640px) {
            .body-LPB {
                padding: 0 10px;
                width: 95%;
                margin: 8% auto;
            }

            .LPB-bb {
                display: block;
                margin: 20px 0;
            }

            .LPB-mail p {
                line-height: 15px;
                font-size: 12px;
            }

            .LPB-bloc-texte p {
                font-size: 13px;
            }

            .LPB-bloc-texte h2 {
                font-size: 16px;
            }

            .LPB-reseausociaux {
                margin-bottom: 0;
            }
        }
    </style>
</head>

<body>
<div class="body-LPB">
    <div class="LPB"
         style="background-image: url('https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png'); height:100px; background-size:contain;background-repeat:no-repeat;background-position:center;">
        <!--<img
          src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png"
          alt="Petits bouchons"
        />-->
    </div>
    <div class="LPB-bb"
         style="background-image: url('https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/Rectangle+84.jpg'); height:200px; background-size:contain;background-repeat:no-repeat;background-position:center;">
        <!--<img
          src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/Rectangle+84.jpg"
          alt="Petits bouchons"
        />-->
    </div>

    <div class="LPB-bloc-texte">
       <!-- <h2>Bonjour <span>{{name}}</span></h2>-->
        <p>
           {{message}}
        <br/>
        <br/>
        <p>
            A bientôt sur notre site ! <br/>
            L’équipe Les p'tits bouchons
        </p>
    </div>
    <br/><br/>
    <div class="LPB-reseauxsociaux">
        <h2>Suivez-nous !</h2>

        <div class="reseauxsociaux">
            <a target="_blank" href="https://www.facebook.com/crechelesptitsbouchons.lu/">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/facebook+(2).png"
                     alt="Petits bouchons"/>
            </a>
            <!--<a>
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/twitter+(1).png"
                alt="Petits bouchons"/>
            </a>-->
            <a target="_blank" href="https://www.instagram.com/lesptitsbouchons.lu/">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/instagram+(2).png"
                     alt="Petits bouchons"/>
            </a>
        </div>
    </div>

    <div class="LPB-mail">
        <p>
            <span> Traitement(s) et communication(s) des informations</span>
            : Conformément à la Loi « Informatiques et Libertés », vous disposez
            d’un droit d’accès, de rectification
            et de suppression des données vous concernant.
            Pour exercer ce droit, veuillez vous adresser par courrier à :

            3, rue des Artisans L-3895 Foetz

            ou par mail à l’adresse suivante : contact@lesptitsbouchons.lu
        </p>
    </div>
</div>
</body>
</html>
