input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.lpb-form-input-search {
    color: #335036;
    height: 50px!important;
    font-size: 16px;
    padding-left: 20px!important;
    border-radius: 100px;
    border: 1px solid #335036!important;
}
.lpb-form-input {
    color: #335036;
    height: 50px!important;
    font-size: 16px;
    padding-left: 15px!important;
    border-radius: 7px;
    border: 1px solid #e5e5e5!important;
}
.lpb-form-input:hover, .lpb-form-input:active {
    border: 1px solid #335036!important;
}
.lpb-container-center-bloc {
    margin-left: 10%!important;
    margin-right: 10%!important;
}
.lpb-vertical-auto {
    margin: auto!important;
}
.uk-form-input-parent-default {
    width: 100%;
}
/* On scroll Up */
.lpb-on-scroll-up {
    z-index: 1003!important;
}
.lpb-btn-full-gray-radius {
    border: 1px solid #335036;
    background-color: #335036;
    border-radius: 100px;
    text-transform: none;
    color: #f4e5c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 30px 3px 30px;
    display: initial;
}
.lpb-btn-full-silver-radius, .lpb-btn-full-silver-radius:hover, .lpb-btn-full-silver-radius:active {
    border: 1px solid #f4e5c2;
    background-color: #f4e5c2;
    border-radius: 100px;
    text-transform: none;
    color: #335036;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 20px 3px 20px;
    display: initial;
}
.lpb-text-color-gray {
    color: #335036;
}
.lpb-text-color-silver {
    color: #f4e5c2;
}
.lpb-pl-0 {
    padding-left: 0px!important;
}
.lpb-pb-20 {
    padding-bottom: 20px;
}
.lpb-pb-30 {
    padding-bottom: 30px;
}
.lpb-pb-80 {
    padding-bottom: 80px;
}
.lpb-mb-20 {
    padding-bottom: 20px;
}
.lpb-mb-30 {
    padding-bottom: 30px;
}
.lpb-pt-20 {
    padding-top: 20px;
}
.lpb-pt-30 {
    padding-top: 30px;
}
.lpb-pt-80 {
    padding-top: 80px;
}
.lpb-mt-20 {
    padding-top: 20px;
}
.lpb-mt-30 {
    padding-top: 30px;
}
.lpb-text-color-silver-ligth {
    color: #A8B674;
}
.lpb-form-erros-msg {
    font-size: 12px;
    color: red;
}
.lpb-form-success-send {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}
.lpb-form-erros-send {
    margin-top: 15px;
    color: red;
    font-weight: bold;
}
.lpb-all-btn-submit {
    width: 100%;
    border: 1px solid #335036;
    background-color: #335036;
    border-radius: 10px;
    text-transform: none;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 30px 3px 30px;
    display: initial;
}
.lpb-all-btn-submit:hover {
border: 1px solid #335036;
background-color: #ffffff;
color: #335036;
}
.lpb-all-btn-instagram {
border: 1px solid red;
background-color: #fefafa;
border-radius: 10px;
text-transform: none;
color: #000000;
font-size: 16px;
font-style: normal;
font-weight: 400;
padding: 5px 30px 3px 30px;
display: initial;
}
.lpb-all-icon {
padding: 0px 10px 0px 10px;
color: red;
}
.lpb-form-simple-field-select, .lpb-form-simple-field-select:hover, .lpb-form-simple-field-select:active {
    color: #335036;
    font-size: 14px;
    border: 0.5px solid #595959;
    box-sizing: border-box;
    border-radius: 76px;
}
.lpb-form-simple-field-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color:#595959;
    padding-bottom: 3px;
    padding-left: 20px;
}
.lpb-form-simple-field-input, .lpb-form-simple-field-input:hover, .lpb-form-simple-field-input:focus {
    color: #335036;
    font-size: 14px;
    line-height: 18px;
    padding-left: 15px!important;
    border: 0.5px solid #595959;
    box-sizing: border-box;
    border-radius: 76px;
}
.lpb-form-simple-field-textarea, .lpb-form-simple-field-textarea:hover, .lpb-form-simple-field-textarea:focus {
    color: #335036;
    font-size: 14px;
    line-height: 18px;
    padding: 12px;
    border: 0.5px solid #595959;
    box-sizing: border-box;
    border-radius: 17px;
}
.lpb-form-simple-field-input-phone {
    color: #335036!important;
    font-size: 14px!important;
    line-height: 18px!important;
    border: 0.5px solid #595959!important;
    box-sizing: border-box!important;
    height: 40px!important;
    border-radius: 76px!important;
}
