.lpb-ours-section-content {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 0px;
}
.lpb-ours-section .img{
  width: 100%;
  height: 200px;
  background-size:cover;
  border-radius:10px;
}
@media (max-width: 505px) {
  .lpb-ours-section .img{
    height: 100px;
  }
}
.lpb-mobimg {
  width: 93%;
  height: 147px;
  background-size:cover;
  border-radius:10px;
  margin: auto;
}
@media (max-width: 1025px) {
  .lpb-mobimg{
    height: 170px;
  }
}
@media (max-width: 800px) {
  .lpb-mobimg{
    height: 130px;
  }
}
@media (max-width: 600px) {
  .lpb-mobimg{
    height: 97px;
  }
}
.lpb-blog-2-img{
  width: 100%;
  height:calc(20vw);
  background-size:cover;
  border-radius:10px;
  margin: auto;
}

.lpb-blog-2{
  display: inline-block;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .lpb-blog-2{
    display: block;
    width: 100%;
  }
  .lpb-blog-2-img{
    height:calc(60vw);
  }
}
.lpb-ours-section-content-carroussel {
  padding-bottom: 50px;
  padding-top: 50px;
  margin-left: 0px;
}
.lpb-home-pageslider-video-container {
  position: relative;
}

.lpb-ours-section-content.petit {
  padding-top: 70px;
}
.lpb-ours-section-content.grand {
  padding-top: 60px;
}
.lpb-ours-section-pageslider-video-full {
  object-fit: cover;
  width: 100vw;
  height: 552px;
  top: 0;
  left: 0;
}
.lpb-ours-section-pageslider-video-full::-webkit-media-controls-timeline {
  display: none;
}
.lpb-home-pageslider-video-wrap-sections {
  position: absolute;
  background-color: rgba(51, 80, 54, 0.7);
  z-index: 2;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
}
.lpb-home-pageslider-video-title-sections {
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  color: #f6f6f6;
  width: 100%;
  top: 40%;
  position: absolute;
}
.lpb-content-text.display-text {
  display: none;
}
.lpb-ours-section:hover .lpb-content-text.display-text {
  display: block;
}
.lpb-ours-section-bgposition {
  position: relative;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 510px;
  background-size: cover;
  height: 570px;
}

.lpb-ours-section-bgposition-petit {
  width: 476px;
  background-size: cover;
  height: 514px;
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
}

.lpb-ours-section-bgposition-moyens {
  position: relative;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 509px;
  background-size: cover;
  height: 455px;
  border-radius: 10px;
}
.colorlien:hover{
text-decoration: #335036;
color: #335036;

}
.lpb-ours-section-bgposition-grands {
  position: relative;
  background-repeat: no-repeat;
  width: 455px;
  background-size: cover;
  height: 491px;
  border-radius: 10px;
}
.lpb-ours-section-titreSectOne {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #335036;
}
.lpb-ours-section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #335036;
}
.lpb-ours-section-sampletext {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 153%; 
  color: #335036;
}
.lpb-ours-section-bg {
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 176px;
  width: 100%;
}

.lpb-ours-section-bloctextstyle {
  padding-top: 20%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 111.9%;
  color: #f6f6f6;
}
.lpb-alignli li{
  padding-left: 20px;
  position: relative;
  text-align: left;
  list-style: none;
margin-bottom: 10px;
}

.lpb-alignli li:before{
  left: -20px;
  position: absolute;
  
  content: "\f00c";
  font-weight: 900;
  font-family:"Font Awesome 5 Free";
 color: #EE7635;
 
}

.colorcheck li:before {
  color: rgb(146, 21, 90);

}
.lpb-ours-section-imagesitebg {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
.lpb-ours-section-textTitle {
  font-style: normal;
  /* font-weight: 700; */
    font-size: 18px;
  line-height: 24px;
  color: #335036;
}
.lpb-padsectgrand {
  padding: 0px 55px 0px 0px;
}

.lpb-padsectpetit {
  padding: 0px 55px 0px 0px;
}
.lpb-ours-section-listcolor {
  font-style: normal;
  font-weight: 400;
    font-size: 18px;
  line-height: 24px;
  color: #335036;
}

.lpb-ours-section-list {
  margin-top: 0px !important;
}

.lpb-ours-section-blocimage {
  display: flex;
  align-items: center;

  position: relative;
}

.lpb-ours-section-titleprojet {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #335036;
}
.lpb-ours-section-imgtop {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 111.9%;
  color: #335036;
  margin-top: 10px !important;
}
.lpb-ours-section-imgbloc {
  height: auto;
  padding: 5px;
}

.lpb-ours-section {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}

.lpb-ours-section-cover {
  border-radius: 10px;
  position: absolute;
  background: rgba(51, 80, 54, 0.7);
  height: 100%;
  width: 100%;
}

.lpb-ours-section-cover-suite {
  border-radius: 10px;
  position: absolute;
  background: rgba(51, 80, 54, 0.7);
  height: 100%;
  width: 100%;
}

.lpb-ours-section-cover-suite {
  display: none;
}
.lpb-ours-section:hover .lpb-ours-section-cover-suite {
  display: block;
}

.lpb-ours-section-petit {
  background-color: #f6f6f6;
}
.lpb-content-text {
  
  color: #f6f6f6;
  position: absolute;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;
}
.lpb-ours-section-sectionespace {
  background-color: #f4e5c2;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .lpb-ours-section-bgposition {
    width: 379px;

    height: 602px;
  }

  .lpb-ours-section-bgposition-petit {
    height: 570px;
    width: 518px;
  }
}

@media (min-width: 2300px) and (max-width: 2400px) {
  .lpb-ours-section-bgposition {
    width: 793px;

    height: 700px;
  }
}
@media (max-width: 640px) {
  .lpb-ours-section-bgposition {
    width: 483px;

    height: 362px;
  }
  .lpb-ours-section-imgbloc {
    PADDING: 20px 20px 20px 12px;
    height: auto;
  }
  .lpb-ours-section-content-carroussel {
    padding-bottom: 0px;
    padding-top: 30px;
    margin-left: 0px;
  }
  .lpb-ours-section-titleprojet {
    font-size: 18px;
    line-height: 21px;
  }

  .lpb-ours-section-imgtop {
    font-size: 16px;
    line-height: 17px;
  }
  .lpb-home-pageslider-video-title-sections {
    font-size: 32px;
    line-height: 14px;
    top: 50%;
  }
  .lpb-ours-section-bgposition-petit {
    position: absolute;
    margin-top: -1px;
    width: 90%;
    height: 362px;
  }
  .lpb-ours-section-title {
    position: absolute;
    text-align: center !important;
    font-size: 18px;
    top: 40px;
    margin-left: 30%;
  }
  .lpb-content-text {
    font-size: 15px;
    line-height: 18px;
  }
  .lpb-ours-section-bgposition-grands {
    position: absolute;
    width: 90%;
    height: 278px;
    border-radius: 10px;
    margin-top: 57px;
  }
  .lpb-ours-section-titreSectOne {
    text-align: center !important;
    font-size: 18px;
  }
  .lpb-ours-section-textTitle {
    text-align: justify !important;
    padding: 0 30px;
    font-size: 14px;
  }
  .lpb-ours-section-textTitleresponsive {
    margin-top: 408px;
  }
  .lpb-ours-section-textresponsive {
    text-align: justify !important;
    padding: 0 30px;
    font-size: 14px;
    margin-top: 325px;
  }
  .lpb-ours-section-titreSectOneresponsive {
    position: absolute;
    top: 28px;
    margin-left: 30%;
  }
  .lpb-ours-section-bgposition-moyens {
    margin-top: 35px;
    height: 261px;
  }

  .lpb-padding-bebe {
    padding-left: 23px !important;
  }
  .lpb-padsectpetit {
    padding: 0px;
    margin-top: -55px;
  }
  .lpb-marginmoyen {
    margin: 0px !important;
    padding: 0px !important;
  }
  .lpb-padsectgrand {
    padding: 0px;
  }

  .lpb-ours-section-textTitle {
    padding: 0px;
  }
  .lpb-paddingblocbebe {
    padding-left: 0px !important;
  }


  
.lpb-content-text.display-text {
  display: block;
}
.lpb-ours-section:hover .lpb-content-text.display-text {
  display: block;
}
.lpb-ours-section-cover-suite {
  display: block;
}
}
