<!DOCTYPE html>
<html>
  <head>
    <title>Email Notification LPB</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      .hborder{
        border-bottom: 1px solid #b8afa5;
        padding-bottom: 20px;
      }
      .NRG-texte h3{
        font-family: montserrat;
    font-size: 20px;
      }
      .NRG-texte p{
        font-family: montserrat;
    font-size: 20px;
      }
      .NRG-image img {
        margin: auto;
        height: auto;
        padding-bottom: 20px;
      }
      .NRG-image {
        display: flex;
      }
      .bloc {
        margin: 0 auto;
    width: 100%;
    background-color: white;
      }
      .body-NRG {
        margin: 0 auto;
        background-color: #f4e5c2;
        padding: 40px 20px;
      }
     
      .NRG-bloc {
        padding: 4% 4%;
      }
      .NRG-contenu {
        background-color: white;
      }
      .NRG-message {
        border-bottom: 1px solid #b8afa5;
        padding-bottom: 15px;
      }
      .NRG-message p {
        background-color: #f4e5c2;
        padding: 30px;
        font-family: montserrat;
    font-size: 20px;
      }
      .bottom {
        display: inline-grid;
        margin-bottom: 10px;
      }
      .bottom span {
        margin-bottom: 10px;
      }
      .top {
        display: inline-grid;
        margin-right: 40px;
      }
      .top span {
        color: #b8afa5;
        margin-bottom: 10px;
      }
      .NRG-identifiant span{
        font-family: montserrat;
    font-size: 20px;
        }
        .NRG-coordonnees h3 {
          font-family: montserrat;
    font-size: 20px;
}
.NRG-message h3{
  font-family: montserrat;
    font-size: 20px;
}
      @media (max-width: 640px) {
        .bloc {
          margin: unset;
          width: 100%;
        }
        .NRG-identifiant {
          display: flex;
        }
        .NRG-message p {
          padding: 15px;
        }
        .NRG-texte h2 {
    font-size: 20px;
}
.NRG-texte h3,
.NRG-coordonnees h3,
.NRG-message h3 {
    font-size: 15px;
}
.NRG-identifiant span {
    font-size: 16px;
}
.NRG-message p {
  
    font-size: 17px;
}
      }
    </style>
  </head>

  <body>
    <div class="bloc">
      <div class="bloc-NRG">
        <div class="body-NRG">
          <div class="NRG-contenu">
           

            <div class="NRG-bloc">
              <div class="NRG-image">
                <img
                  src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png"
                  alt="Petits bouchons"
                />
              </div>
              <div class="NRG-texte">
                <h3>Bonjour,</h3>
                <h3>Vous avez reçu une nouvelle demande de contact.</h3>

                <h3 class="hborder">Veuillez trouver ci-dessous le récapitulatif de la demande : </h3>
              </div>
              <div class="NRG-coordonnees">
                <h3>Coordonnées du prospect :</h3>
                <div class="NRG-identifiant">
                  <div class="top">
                    <span>Nom</span>
                    <span>Prénom</span>
                    <span>Téléphone</span>
                    <span>E-mail</span>
                  </div>

                  <div class="bottom">
                    <span>{{name}}</span>
                    <span>{{surname}}</span>
                    <span>{{phone}}</span>
                    <span>{{email}}</span>
                  </div>
                </div>
              </div>

              <div class="NRG-message">
                <h3>Contenu du message :</h3>
                <p>
                  {{message}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
