.lpb-actubtnvoirplus {
    padding: 50px 0px 50px 0px;
  }
.lpb-btnactualite {
    cursor: pointer;
    color: white;
    border: none;
    background-color: #335036;
    border-radius: 44px;
    outline: none;
    font-size: 16px;
    margin-top: 10px;
    height: 44px;
    width: 135px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: none !important;
    box-shadow: 0px 1.7745075225830078px 5.073928356170654px 0px #335036;
}

@media (max-width: 1024px)
{
  .lpb-paddingcard{
    width: calc(100% * 1/3) !important;
  }
}
@media (max-width: 750px)
{
  .lpb-paddingcard{
    width: calc(100% * 1/2) !important;
  }
}
@media (max-width: 640px)
{
  .lpb-paddingcard{
    width: 100% !important;
  }
}