.lpb-register-validation-container {
    margin: 0px 6% 50px 6%;
}
.lpb-register-validation-accordion-title, .lpb-register-validation-accordion-title:hover {
    background: #F7F7F7;
    padding: 17px 10px 17px 36px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #335036;
} 
.lpb-register-validation-accordion-content-wrap {
    margin: 0px 25px 0px 25px;
}
.lpb-register-validation-confirm-content {
    background: #F7F7F7;
    padding: 45px 35px 45px 35px!important;
}
.lpb-register-validation-checkbox-label {
    font-weight: 500;
    font-size: 16px;
    color: #565656;
    cursor: pointer;
}
.lpb-register-validation-checkbox-container {
    display: flex;
    padding-bottom: 25px;
}
.lpb-register-validation-creche-box {
    display: flex;
    margin: 72px 9% 72px 9%;
}
.lpb-register-validation-creche-box-title {
    color: #565656;
    width: 36%;
    margin: auto;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
}
.lpb-register-validation-creche-box-divider {
    border-left: 1px solid #565656!important;
    margin-left: 50px;
    margin-right: 25px;
}
.lpb-register-validation-creche-box-infos {
    width: 40%;
    font-weight: 500;
    font-size: 16px;
    margin: auto;
    line-height: 20px;
    color: #565656;
}
.lpb-register-validation-creche-box-infos-details {
    padding-left: 20px;
}
.lpb-register-validation-creche-box-infos-flex {
    display: flex;
    padding-bottom: 15px;
}
.lpb-register-validation-form-wrap {
    margin: 50px 0px 50px 0px;
}
.lpb-register-validation-form-title {
    color: #CDCDCD;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}
.lpb-register-validation-checkbox-notice {
    margin-top: 25px;
    font-weight: normal;
    font-size: 12px;
    color: #565656;
}


