.lpb-blogespace {
  margin-bottom: 100px;
  margin-top: 20px;
}

.blogCover{
 background-size: cover;
 height: 200px;
 width: 100%;
}
.post-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebarcolor {
  margin-bottom: 20px;
  padding: 30px;
  background-color: white;
}
.lpb-checkbox-blog.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked {

  background-color: #335036;
 
  border-color: transparent;
}

.lpb-checkbox-blog {
  border: 2px solid black !important;
  margin:  0PX 10PX 4PX 3PX;
 
}
.lpb-actuality-post-blog {
  text-align: justify;
  position: relative;
  padding: 5%;
  height: 230px;
  background: white;
}
.lpb-typeBlog {
  padding: 10px !important;
  background-color: #f2f2f2;
  font-weight: 500;
  font-size: 13px;
  line-height: 186%;
  text-align: justify;
  color: #335036 !important;
}

.lpb-search-input {
  line-height: 22px;
  font-size: 12px !important;
  padding: 10px;
}
.lpb-textType {
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  text-align: justify;
  color: #3f2b2b !important;
}
.lpb-home-page-actuality-post-date-blog {
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #30672e;
  margin-bottom: 10px;
}

.lpb-margindrop {
  margin: 0px 0px 20px 0px;
}

.lpb-icon-search {
  color: white !important;
  background-color: #335036;
}
.lpb-sizecat {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 30px 0px 10px 0px;

  color: #335036;
}
.lpb-liste-uk-parent {
  background: rgba(242, 242, 242, 0.3) !important;
}

.paddingsearch {
  padding: 20px 0px 0px 0px;
}

.lpb-trait {
  margin: 30px 0px 0px 0px;
  border-bottom: 1px solid #e7e7e7;
}
.colorsearch {
  background-color: #f2f2f2;
}
.lpb-home-page-actuality-post-title-blog {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #335036;
  margin-bottom: 14px;
}
.lpb-paddingblogcard {
  margin-top: 20px !important;
  padding-left: 20px;
}
.lpb-home-page-actuality-post-desc-blog {
  font-weight: 500;
  font-size: 15px;
  line-height: 186%;
  color: #837e7e;
  margin-bottom: 20px;
}


.lpb-color-lire-suite {
  margin-left: 6px;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  color: #30672e;
}
@media (min-width: 319px) and (max-width: 645px) {
  .sidebarcolor {
    display: none;
  }

  .lpb-margin-mobile-blog {
    margin-bottom: 40px;
  }

  .lpb-paddingblogcard {
    margin-top: 40px !important;
    padding-left: 30px;
  }
  .lpb-blogespace {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .lpb-actuality-post-blog {
    height: 250px;
  }
}
