.lpb-header-menu-mobile-btn {
  background: none;
  border: none;
}
.lpb-header-menu-web {
    display: block;
    top: 0px!important;
}
.lpb-header-menu-mobile {
    display: none;
} 
.lpb-header-menu {
  background-color: white !important;
  color: #335036;
  display: flex;
  height: 90px;
} 
.lpb-header-menu2 {
  display: flex;
}
.lpb-header-navbar {
  background: transparent!important;
  margin-right: 15px;
  margin-top: -35px;
}
.lpb-header-logo {
  height: 55px;
  margin-right: 40px;
}
.lpb-header-navbar-item, .lpb-header-navbar-item:hover {
  padding: 35px 8px 0px 8px!important;
  color: #335036 !important;
  text-transform: none!important;
  font-size: 16px!important;
  font-weight: 500!important;
  line-height: 20px!important;
  border-bottom: 1px solid #ffffff;
}
.lpb-header-navbar-item:hover, .lpb-header-navbar-item.uk-active {
  color: #A8B674 !important;
}
.lpb-header-navbar-item-parent:hover:after, .lpb-header-navbar-item-parent-active:after {
    width: 40%!important;
    transition: width .3s ease-in!important;
}
.lpb-header-navbar-item-parent:after {
    content: "";
    width: 0;
    margin-top: -3px;
    display: block;
    margin-left: 8px;
    height: 2px;
    background-color: #a8b674!important;
    transition: width .3s ease-in;
}
.lpb-header-navbar-item-drop-submenu a, .lpb-header-navbar-item-drop-submenu a:hover {
  padding: 10px 0px 10px 0px!important;
  color: #335036 !important;
  text-transform: none!important;
  font-size: 16px!important;
  font-weight: 500!important;
  line-height: 20px!important;
}
.lpb-header-navbar-item-drop-submenu a:hover, .lpb-header-navbar-item-drop-submenu.uk-active a {
  color: #A8B674 !important;
}
.lpb-header-btn-register-full {
  border: 1px solid #335036;
  background-color: #335036!important;
  border-radius: 100px;
  text-transform: none;
  color: #ffffff!important;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  padding: 5px 35px 3px 35px;
  display: initial;
}
.lpb-header-btn-register-full:hover {
  border: 1px solid #335036;
  background-color: #335036;
  color: #ffffff;
}
.lpb-header-btn-full-gray {
  border: 1px solid #335036;
  background-color: #335036;
  border-radius: 100px;
  text-transform: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  font-style: normal;
  padding: 5px 35px 3px 35px;
  display: initial;
}
.lpb-header-btn-full-gray:hover {
  border: 1px solid #335036;
  background-color: #ffffff;
  color: #335036;
}
.lpb-header-btn-full-gray:disabled {
  background-color: transparent!important;
  color: #335036!important;
  border-color: #e5e5e5!important;
}
.lpb-header-navbar-drop-submenu-content {
  width: 330px!important;
  padding-top: 4px!important;
  padding-bottom: 6px!important;
}
.lpb-header-pre-registration {
  text-decoration: none!important;
}

@media screen and (min-width: 320px) and (max-width: 420px){
  .lpb-register-choice-head-box {
      display: block!important;
  }
  .lpb-container-center-bloc {
      margin-left: 3%!important;
      margin-right: 3%!important;
  }
  .lpb-register-card-head-title {
      font-size: 16px!important;
  }
  .lpb-register-choice-children-title {
      font-size: 12px!important;
  }
  .lpb-home-img-full-container {
      height: 300px!important;
  }
  .lpb-register-card-container {
      margin-top: -120px!important;
      padding-bottom: 100px!important;
  }
  .lpb-register-step-cicle-subtitle {
      display: none;
  }
  .lpb-register-step-wrap {
      margin: 0px 6% 30px 6%!important;
  }
  .lpb-register-choice-children-wrap {
      margin: 0px 0% 40px 0%!important;
  }
  .lpb-register-child-label-web {
      display: none;
  }
  .lpb-register-child-label-mobile {
      display: block!important;
  }
  .lpb-register-form-field-wrap {
      margin-top: 0px!important;
  }
  .lpb-register-form-field-wrap > div {
      margin-top: 15px;
  }
  .lpb-register-child-container  {
      margin-bottom: 50px!important;
      margin-left: 0px!important;
      margin-right: 0px!important;
  }
  .lpb-register-creche-card-title {
      font-size: 26px!important;
      line-height: 32px!important;
  }
  .lpb-register-creche-card-infos-text {
      font-size: 14px!important;
      line-height: 17px!important;
  }
  .lpb-register-creche-card-infos-wrap {
      margin-bottom: 10px!important;
  }
  .lpb-register-creche-card-content {
      height: auto!important;
  }
  .lpb-register-validation-accordion-title, .lpb-register-validation-accordion-title:hover {
      font-size: 16px!important;
      line-height: 20px!important;
      padding: 15px 10px 15px 26px!important;
  }
  .lpb-register-validation-checkbox-label {
      font-size: 12px!important;
  }
  .lpb-register-validation-accordion-content-wrap {
      margin: 0px 13px 0px 13px!important;
  }
  .lpb-register-validation-form-wrap {
      margin: 23px 0px 23px 0px!important;
  }
  .lpb-register-validation-form-title {
      font-size: 24px!important;
      line-height: 29px!important;
  }
  .lpb-register-validation-creche-box {
      display: block!important;
      margin: 12px 1% 12px 1%!important;
  }
  .lpb-register-validation-creche-box-divider{
      display: none!important;
  }
  .lpb-register-validation-container {
      margin: 0px 0px 50px 0px!important;
  }
  .lpb-register-validation-creche-box-title {
      font-size: 24px!important;
      line-height: 29px!important;
      width: auto!important;
      text-align: center;
  }
  .lpb-register-validation-creche-box-infos {
      width: auto!important;
      padding: 20px 0px 20px 0px;
  }
  /* Header */
  .lpb-header-menu {
      padding-left: 2% !important;
      padding-right: 2% !important;
  }
} 

@media screen and (min-width: 300px) and (max-width: 650px){
  /* Header */
  .lpb-header-menu-web {
      display: none!important;
  }
  .lpb-header-menu-mobile {
      display: block!important;
  }
  .lpb-header-menu {
      height: 72px!important;
  }
  .lpb-header-mobile-logo-wrap {
      margin-top: 10px;
      margin-left: 10px;
  }
  .lpb-header-mobile-line-navbar {
      height: 3px;
      width: 32px;
      background-color: black;
  }
  .lpb-header-mobile-line-navbar-milieu {
      height: 3px;
      width: 32px;
      background-color: black;
      margin-bottom: 5px;
      margin-top: 5px;
  }
  .lpb-header-mobile-line-navbar-container {
      padding-top: 18px;
      padding-bottom: 5px;
  }
  .lpb-header-mobile-line-navbar-wrap {
      margin-left: auto;
      margin-right: 10px;
      margin-top: 5px;
  }
  .lpb-header-mobile-toggle-container {
      width: 90%!important;
      background-color: #f9f9f9!important;
      color: black;
      padding: 0!important;
  }
  .lpb-header-mobile-toggle-close {
      background: none!important;
      border: none!important;
      color: black;
      position: initial!important;
      float: right;
      padding: 0!important;
      padding-top: 21px!important;
      padding-right: 21px!important;
  }
  .lpb-header-mobile-toggle-navbar-content {
        padding-top: 30px;
        padding-left: 8%;
        padding-right: 8%;
  }
  .lpb-header-btn-full-gray {
      background-color: #335036!important;
      color: #ffffff!important;
  }
  .lpb-header-mobile-link-content {
      padding-bottom: 10px;
      padding-top: 30px;
  }
  .lpb-header-mobile-link-content a {
      text-decoration: none;
      font-size: 16px;
      color: #335036 !important;
  }
    .lpb-header-mobile-link-content p {
        margin: 0 0 15px 0;
    }
    .lpb-header-mobile-link-content-ul {
        margin: 0 0 6px 0;
    }
    .lpb-header-mobile-navbar-active {
        border-bottom: 2.5px solid #a8b674;
    }
    .lpb-header-mobile-link-content-li a::after {
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E)!important;
    }
    .lpb-header-mobile-link-content-li.uk-open>a::after {
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E)!important;
    }
    .lpb-header-mobile-navbar-active-bg a {
        color: #A8B674 !important;
    }
    .lpb-header-mobile-navbar-submenu-container {
        margin-left: 8px;
    }
    .lpb-component-nuseries-btn-registration {
        font-size: 13px!important;
    }
}
@media screen and (min-width: 651px) and (max-width: 1179px){
  /* Header */
  .lpb-header-menu {
      height: auto!important;
      display: block !important;
      padding: 0px 3% 10px 3%!important;
  }
  .lpb-header-logo {
      margin-top: 5px;
      height: 35px!important;
  }
  .lpb-header-btn-full-gray {
      font-size: 14px!important;
      padding: 0px!important;
      width: 160px;
  }
  .lpb-header-navbar-item, .lpb-header-navbar-item:hover {
      padding: 35px 5px 0px 5px!important;
      font-size: 14px!important;
  }
}
@media screen and (min-width: 1180px) and (max-width: 1380px) {
  .lpb-header-navbar-item, .lpb-header-navbar-item:hover {
      padding: 35px 6px 0px 6px!important;
      font-size: 13px!important;
  }
}