.lpb-contact-form-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
}
.lpb-contact-content {
    background: white;
    padding: 60px;
    margin-left: 0px!important;
}
.lpb-contact-form-container {
    margin-top: 0px!important;
    margin-bottom: 15px;
}
.lpb-form-simple-legend-color {
    color: #FA6161;
}
.lpb-form-simple-legend {
    color: #335036;
    font-weight: 500;
    font-weight: 500;   
    font-size: 12px;
    padding-left: 5px;
}
.lpb-form-simple-btn-checkbox-child:checked {
    background-color: #335036!important;
}
.lpb-form-simple-btn-checkbox-child {
    margin-right: 10px;
}
.lpb-form-simple-footer-checkbox-label {
    font-weight: 500;
    font-size: 12px;
    color: #565656;
    cursor: pointer;
}
.lpb-form-simple-footer-checkbox-container {
    display: flex;
    padding-bottom: 25px;
    padding-top: 10px;
}
.lpb-contact-box-infos-title-mobile {
    display: none;
    font-weight: bold;
    font-size: 24px;
    color: #335036;
    line-height: 29px;
    padding-bottom: 30px;
}
@media screen and (min-width: 320px) and (max-width: 650px) {
    .lpb-contact-form-wrap {
        padding-top: 16px;
        padding-bottom: 20px;
    }
    .lpb-contact-content {
        padding: 18px;
    }
    .lpb-contact-content > div.uk-first-column {
        margin-left: 15px;
    }
    .lpb-contact-form-container-box {
        padding-left: 0px!important;
        margin-left: 0px!important;
        padding-top: 25px!important;
    }
    .lpb-contact-form-container-box::before {
        left: -30px!important;
    }
    .lpb-form-simple-field-input-phone {
        width: 100%!important;
    }
    .lpb-contact-box-infos-title-mobile {
        display: block!important;
    }

}