.lpb-bloctexteengagement{
    padding: 50px;
}
.lpb-titleengagement{
    font-size: 20px;
    font-style: normal;
    font-weight: 325;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #335036;
}
.lpb-twoblocengagement{
    position: relative;
}
.lpb-imgbouchonsengagement{
    text-align: center;
}
.lpb-blocengagementbouchons{
    display: inline-flex !important ;
}
.lpb-videohorlogeresponsive{
    display: none;
}

.lpb-markengagement{
    background: transparent;
    color: transparent !important;
    border-radius: 500px;
    width: 41%;
    height: 11%;
    margin-left: 30;
    margin-left: -56px;
    margin-top: -25px;
}
.lpb-markengagement1{
    margin-left: 59px !important;
   
}
.lpb-blochoverbouchon-responsive1{
    margin-left: 30px !important;
}
.lpb-markengagement:hover .lpb-blochoverbouchon {
    display: block;
    color: transparent !important;
}
.lpb-blochoverbouchon{
    display: none;
}

.lpb-blochoverbouchon {
    padding: 28px 21px 9px 25px;
    height: 251px;
    width: 450px;
    border-radius: 50px;
    background-color: #F0E1C0;
    border: 0.5px solid #C89319;
    margin-left: -50%;
}
.lpb-titlehoverbouchon{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #335036;

}
.lpb-textehoverbouchon{
font-size: 16px;
font-style: normal;
font-weight: 325;
line-height: 22px;
letter-spacing: 0em;
text-align: justifY;
color: #335036;
}
.lpb-buttonhoverbouchon{
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
height: 20px;
width: 116px;
background-color: transparent;
border: none;
color: #A8B674;
outline: none;
border-radius: nullpx;

}
.lpb-blocgreen-engagement{
    background-color:  #335036;
    width: 1440px;
height: 1079px;
}
.lpb-title-bolcgreen-engagement{
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: white;
position: absolute;
margin-top: 250px;
margin-left: 43%;

}
.lpb-blocgreen-engagement{
    margin-top: 50px;
}

.lpb-horloge-hover-engagement,
.lpb-horloge-hover-engagement1,
.lpb-horloge-hover-engagement2,
.lpb-horloge-hover-engagement3,
.lpb-horloge-hover-engagement4,
.lpb-horloge-hover-engagement5,
.lpb-horloge-hover-engagement6,
.lpb-horloge-hover-engagement7,
.lpb-horloge-hover-engagement8,
.lpb-horloge-hover-engagement9{
    padding: 20px;
    background-color: transparent !important;
    color: transparent !important;
}
.lpb-colorsecond-horloge{
    font-weight: 600;
    color: #335036;
}

.lpb-blocmessagehover-horloge-engagement{
    padding: 13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-left: 203px;
    margin-top: -165px;
}
.lpb-liste-horloge-engagement{

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;

}

.lpb-title-horloge-engagement{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.155em;
    text-align: center;
    color:#9F74FB;
    margin-left: -50px;
}
.lpb-blocmessagehover-horloge-engagement1{
    padding: 13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: -61px;
    margin-left: -50%;
}
.lpb-title-horloge-engagement1{
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #28B1DD;
margin-left: 24px;
}
.lpb-liste-horloge-engagement1{

    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
    margin-left: 24px;

}
.lpb-blocmessagehover-horloge-engagement2{
    padding: 13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: 35px;
    margin-left: 66%;
}
.lpb-title-horloge-engagement2{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #FF6A6A;
margin-left: 24px;
}
.lpb-liste-horloge-engagement2{
    
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
    margin-left: 24px;
}

    .lpb-blocmessagehover-horloge-engagement3{
        padding: 13px;
        height: auto;
        width: 310px;
        background-color: white;
        border-radius: 30px;
        margin-top: 86px;
        margin-left: 62%;
}
.lpb-title-horloge-engagement3{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #F9AC80;
margin-left: 24px;
}
.lpb-liste-horloge-engagement3{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
}
.lpb-blocmessagehover-horloge-engagement4{
    padding: 13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: 89px;
    margin-left: 63%;
}
.lpb-title-horloge-engagement4{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #CBD458;
margin-left: 24px;
}
.lpb-liste-horloge-engagement4{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
    margin-left: 24px;
}
.lpb-blocmessagehover-horloge-engagement5{
    padding:13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: 83px;
    margin-left: -60%;
}
.lpb-title-horloge-engagement5{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #DD9528;
margin-left: 24px;
}

.lpb-blocmessagehover-horloge-engagement6{
    padding:13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: 301px;
    margin-left: -39%;
}
.lpb-liste-horloge-engagement5{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
}
.lpb-title-horloge-engagement6{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #E3CE09;
margin-left: 24px;
}
.lpb-liste-horloge-engagement6{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
}
.lpb-liste-horloge-engagement7{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
}
.lpb-title-horloge-engagement7{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #32D1BE;
margin-left: 24px;
}
.lpb-blocmessagehover-horloge-engagement7{
    padding:13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: 234px;
    margin-left: -9%;
}

.lpb-liste-horloge-engagement8{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
    margin-left: 24px;
}
.lpb-title-horloge-engagement8{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #FF66F9;
margin-left: 24px;
}
.lpb-blocmessagehover-horloge-engagement8{
    padding:13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: 142px;
    margin-left: 60%;
}
.lpb-liste-horloge-engagement9{
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.lpb-title-horloge-engagement9{
    font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0.155em;
text-align: left;
color: #28DD70;
margin-left: 24px;
}
.lpb-blocmessagehover-horloge-engagement9{
    padding:13px;
    height: auto;
    width: 310px;
    background-color: white;
    border-radius: 30px;
    margin-top: -3px;
    margin-left: -64%;
}
.lpb-hovermessage-affichage{
    display: none !important;
}
.lpb-horloge-hover-engagement:hover .lpb-blocmessagehover-horloge-engagement{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement1:hover .lpb-blocmessagehover-horloge-engagement1{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement2:hover .lpb-blocmessagehover-horloge-engagement2{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement3:hover .lpb-blocmessagehover-horloge-engagement3{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement4:hover .lpb-blocmessagehover-horloge-engagement4{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement5:hover .lpb-blocmessagehover-horloge-engagement5{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement6:hover .lpb-blocmessagehover-horloge-engagement6{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement7:hover .lpb-blocmessagehover-horloge-engagement7{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement8:hover .lpb-blocmessagehover-horloge-engagement8{
    display: block !important;
    color: transparent !important;
}
.lpb-horloge-hover-engagement9:hover .lpb-blocmessagehover-horloge-engagement9{
    display: block !important;
    color: transparent !important;
}


















@media (max-width: 640px) {
    .lpb-videohorloge{
        display: none;
    }
    .lpb-videohorlogeresponsive{
        display: block;
        width: 100%;
    }
    .lpb-markengagement1 {
        margin-left: 22px !important;
    }
    .lpb-markengagement {
        width: 44%;
        height: 8%;
        margin-left: -14px;
        margin-top: -7px;
    }
    .lpb-title-bolcgreen-engagement {
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        position: absolute;
        margin-top: 320px;
        margin-left: 35%;
    }

    .lpb-bloctexteengagement{
        padding: 20px;
    }
    .lpb-titleengagement{
        font-size: 14px;
        font-style: normal;
        font-weight: 325;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: #335036;
        }

.lpb-markengagement:hover .lpb-blochoverbouchon {
    display: block;
    color: transparent !important;
}
.lpb-blochoverbouchon {
    padding: 5px 17px 0px 17px;
    height: 300px;
    width: 230px;
    border-radius: 30px;
   
   
}
.lpb-titlehoverbouchon{
    font-size: 18px;
}
.lpb-blochoverbouchon-responsive{
    margin-left: 4% !important;
    height: 330px;
    width: 191px;
    border-radius: 30px
}
.lpb-blochoverbouchon-responsive1{
    margin-left: -78% !important;
}
.lpb-blocmessagehover-horloge-engagement8 {
    padding: 0px;
    height: auto;
    width: 205px;
    background-color: white;
    border-radius: 19px;
    margin-top: 142px;
    margin-left: 1%;
}

.lpb-textehoverbouchon {
    font-size: 13px;
    font-style: normal;
    font-weight: 325;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: justifY;
    color: #335036;
}

}