.lpb-mentionslegales {
  background-color: white;
  border-radius: 37px;
  padding: 80px;
}

.lpb-mentionsbloc {
  padding: 100px 0px 80px 0px;
}
.logopolitique{

    padding: 50px;
  }
.lpb-titrementions {

  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  /* identical to box height */

  color: #335036;
}
.lpb-mentionstext {
  font-weight: normal;
  font-size: 16px;
  line-height: 34px;
  text-align: justify;

  color: #335036;
}

@media (max-width: 700px) {
    .lpb-mentionsbloc {
        padding: 50px 20px 50px 20px;
    }
  .logopolitique{

    padding: 50px;
  }
  .lpb-titrementions {
   
 
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #335036;
  }


  .lpb-mentionstext {
    
    font-size: 11px;
    line-height: 30px;
    
    
}
  .lpb-mentionslegales {
    background-color: white;
    border-radius: 37px;
    padding: 20px;
  }
}
