.lpb-colorbloc{
    background-color: #F6F6F6;
    margin-bottom: 50px;
    margin-left: 0px !important;
}

.lpb-c{
    margin-left: 0px;
}
.lpb-mtbloc2{
    margin-top: 40px;
}
.lpb-logoptitsbouchons{
    padding: 70px 0px 0px 0px;
}

.uk-card-default {
     background: none;
    color: #666;
    box-shadow: none;
}
.lpb-textlpb{
font-size: 15px;
font-style: normal;
line-height: 27px;
letter-spacing: 0em;
}
.lpb-textgreenlpb{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: justify;
color: #A8B674;
}
.lpb-content{
    padding: 40px 0px 40px 0px !important;
}
.lpb-list{
    text-decoration: none;
        list-style: none;
        display: flex;
        margin-top: 0px;
        margin-bottom: 8px;
    padding-left: 0 !important;
}
.lpb-logoauragroup {
    padding: 134px 0px 0px 0px;
    height: 65%;
}
.lpb-bloclogoaura{
    padding-left: 0px !important; 
}
.lpb-texteleft{
    margin-left: 10px;
font-size: 16px;
font-style: normal;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #335036;
}
.lpb-logoNairgym{
    width: 270px;
    height: 94px;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.lpb-logoacademy{
    width: 229px;
height: 91px;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.lpb-logobebe{
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    max-width: initial;
}
.lpb-blocimage{
    display: flex;
    justify-content: center;
}
.lpb-titleauragroup{
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
color: #92155A;
}
    .lpb-check1{
        width: 21px;
    }
.lpb-titlesecondauragroup{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #335036;
margin-top: 50px;
}
.lpb-textauragroup{
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #335036;
    
}
.lpb-othertitleauragroup{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #92155A;
}
.coloraura{
    color: #92155A;
}
.lpb-othersecondtitleauragroup{
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
color: #335036;
}
.lpb-blocAbout{
    padding-top: 30px;
   
}
.lpb-b
{
    padding: 0px !important;
}


.lpb-contoutr-bloc2
    {
        padding: 0px;
    }

.lpb-allblocend{
    padding-left: 0 !important;
}
.lpb-textblocauragroup{
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #335036;
}
.lpb-auragroupbutton{
    width: 50%;
    font-size: 16px;
    background-color: rgba(146, 21, 90, 0.5);
    color: #d7c5c5;
    border: none;
    height: 46px;
    border-radius: 10px;
    margin-top: 36px;
}
.lpb-nairgymbutton{
    position: absolute;
    border: none;
   padding: 10px;
   border-radius: 10px;
   width: 81%;
    margin-top: 0px;
    bottom: 40px;
   
}
.lpb-onlybuttonnairgym{
    background-color: #EE7635;
    color: white;
}
.lpb-auraacademybutton {
    position: absolute;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 81%;
    margin-top: 0px;
    background-color: #ACCFD5;
    color: #e5e2e2;
    bottom: 40px !important;
}
.lpb-bloctexteaura{
    padding: 40px;
}
.lpb-contentnairgym{
    padding: 40px;
    height: 760px;
}
.lpb-lienboutton{
    color: white !important;
    text-align: center;
    font-weight: 700;
    text-decoration: none !important;
}
.lienaura{
    text-align: center;
    text-decoration: none !important;
    color: #ece7e7 !important;
}
.lpb-contentacademy {
    padding: 40px;
    height: 680px;
}
.lpb-titlelabel{
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 38px;
letter-spacing: 0em;
text-align: left;
color: #335036;
margin-top: 50px;
}
.lpb-textnairgym{
font-size: 16px;
font-style: normal;
line-height: 27px;
letter-spacing: 0em;
text-align: justify;
margin-top: 20px;
color:#335036;
}
.lpb-textauraacademy{
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justify;
    margin-top: 14px;
    color:#335036;
}
.lpb-background{
    background-size: cover;
    background-repeat: no-repeat;
}
.lpb-contentnairgym,.lpb-contentacademy{
    background-color: #F6F6F6;
}

@media (max-width: 640px) {
    .lpb-blocimage {
        display: block;
        justify-content: start;
        text-align: center;
    }
    .lpb-auragroupbutton {
        font-size: 15px;

    }


    .lpb-logoauragroup {
        padding: 0px !important;
        height: auto;
    }
    .lpb-titleauragroup {
        font-size: 30px;
    }
    .lpb-titlesecondauragroup {
        font-size: 21px;
        margin-top: 20px;
    }
    .lpb-othertitleauragroup {
        font-size: 15px;
    }
    .lpb-othersecondtitleauragroup {
        font-size: 20px;
    }
    .lpb-bloctexteaura {
        padding: 20px;
    }
    .lpb-auragroupbutton {
    
        width: 100%;
    }

    .lpb-logoNairgym {
        height: auto;
    }
    .lpb-contentnairgym {
        padding: 20px;
        height: 900px;
    }
    .lpb-nairgymbutton {
        font-size: 15px;
    }
    .lpb-bloccontentauraacademyresponsive{
        padding-left: 0px;
    }
    .lpb-contentacademy {
        padding: 20px;
        height: 730px;
    }
    li svg {
        min-width: 100%;
    }
    .lpb-logoptitsbouchons {
        width: 80%;
    }
    .lpb-bloclpbleft{
        padding: 20px;
    }
    .lpb-logobebe {
        height: auto;
        width: 50%;
    }
    .lpb-blocimglpb{
        position: absolute;
        top: 38px;
    }
    .lpb-content {
        margin-top: 90px;
    }
    
}
@media (min-width: 320px) and (max-width: 374px){
    .lpb-textauraacademy {
        font-size: 15px;
        
    }
    .lpb-content {
        margin-top: 110px;
    }
    .lpb-petitsvg{
        width: 28px;
    }
    .lpb-petitsvg1{
        width: 25px;
    }
    .lpb-petitsvg2{
        width: 17px !important;
    }
    .lpb-nairgymbutton {
        bottom: 21px;
    }
    .lpb-contentnairgym {
       
        height: 950px;
    }
    .lpb-check1{
        width: 34px;
    }
    .lpb-check2{
        width: 24px;
    }
    .lpb-check3{
        width: 26px;
    }
   
}
@media (min-width: 425px)and (max-width: 426px){
    .lpb-content {
        margin-top: 120px;
    }
    .lpb-petitsvg{
        width: 18px !important;
    }
    .lpb-petitsvg1 {
        width: 17px !important;
    }


}
@media (min-width: 375px) and (max-width: 425px){
    .lpb-content {
        margin-top: 120px;
    }
    .lpb-petitsvg{
        width: 22px;
    }
    .lpb-petitsvg1{
        width: 19px;
    }
    .lpb-petitsvg2{
        width: 17px;
    }
    .lpb-nairgymbutton {
        bottom: 21px;
    }
    .lpb-contentnairgym {

        height: 950px;
    }
    .lpb-check1{
        width: 34px;
    }
    .lpb-check2{
        width: 24px;
    }
    .lpb-check3{
        width: 26px;
    }
    /*.lpb-auraacademybutton {*/
    /*    width: 86%;*/
    /*  */
    /*}*/
    
}
@media (min-width: 426px) and (max-width: 640px){
    .lpb-content {
        margin-top: 150px;
    }
    .lpb-nairgymbutton {
        width: 88%;
    }
    .lpb-auraacademybutton {
        width: 88%;
    }
    .lpb-content {
        margin-top: 116px;
    }
    .lpb-logoptitsbouchons {
       
    padding-left: 25%;
    }
}
@media (min-width: 641px) and (max-width: 767px){
    .lpb-nairgymbutton {
        width: 88%;
    }
    .lpb-auraacademybutton{
        width: 88%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .lpb-contentnairgym {
        padding: 10px;
        height: 781px;
    }
    .lpb-contentacademy {
        padding: 10px;
        height: 760px;
    }
    .lpb-bloctexteaura {
        padding: 20px;
    }
    .lpb-auragroupbutton {
        width: 100%;
     
    }
    .lpb-nairgymbutton {
        
        width: 88%;
      
    }
    .lpb-auraacademybutton {
        width: 88%;
    }
    .lpb-logoptitsbouchons {
        padding: 123px 40px 0px 0px;
    }
}