.sidebarcolor2 {
  padding: 50px;
  background-color: white;
}
.lpb-date {
  font-weight: 600;
  font-size: 16px;
  line-height: 211%;
  text-align: center;
  color: black;
}
.dernArticleimg{


  width: 80%;
}
.lpb-month {
  font-weight: 500;
  font-size: 12px;
  line-height: 211%;
  text-align: center;
  color: black;
}

.lpb-padA {
  padding: 0px !important;
}
.lpb-titreDernierA {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #335036;
  padding-bottom: 30px;
}

.lpb-subTitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 144.5%;
  color: black;
}

.lpb-textdernA {
  text-align: justify;
  font-weight: 500;
  font-size: 10px;
  line-height: 211%;
  color: black;
}

.lpb-trait-dernierA {
  margin: 30px 0px 30px 0px;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 319px) and (max-width: 645px) {
  .sidebarcolor2 {
    display: none;
  }
}
