.lpb-form-box-fields-card-thank-wrap {
    background: #FFFFFF!important;
    border-radius: 10px;
    margin: 80px 35% 10% 35%;
}
.lpb-form-box-fields-card-thank-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    color: #A8B674;
    padding: 25px 0px 25px 0px;
}
.lpb-form-box-fields-card-thank-subtitle {
    font-size: 20px;
    line-height: 24px;
    color: #656363;
    padding-bottom: 40px;
}
.lpb-form-box-fields-card-thank-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A8B674;
    cursor: pointer;
}
.lpb-form-box-fields-card-thank-content {
    height: 400px!important;
}
.lpb-home-parent-page {
    position: relative;
}
.lpb-form-box-fields-card-thank-container {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    overflow-y: hidden;
}
.lpb-form-box-fields-card-container-thank-box {
    margin-top: 0px!important;
    padding-bottom: 0px!important;
    height: 60vh;
}
.lpb-form-box-fields-card-thank-social {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #656363;
    padding-bottom: 25px;
}
.lpb-form-box-fields-card-thank-socia-wrap {
    display: inline-flex;
}
.lpb-form-box-fields-card-thank-socia-wrap div {
    margin-right: 14px;
}
.lpb-form-box-fields-card-thank-close-wrap {
    position: absolute;
    top: 22px;
    right: 25px;
    cursor: pointer;
}
@media screen and (min-width: 320px) and (max-width: 650px) {
    .lpb-form-box-fields-card-thank-wrap {
        margin: 60% 5% 10% 5%!important;
    }
    .lpb-form-box-fields-card-thank-title {
        font-size: 22px!important;
        line-height: normal!important;
    }
    .lpb-form-box-fields-card-thank-subtitle {
        font-size: 16px!important;
        line-height: normal!important;
        padding-bottom: 20px;
    }
}

