.lpb-footer-logo-mobile {
  display: none;
}
.lpb-footer-menu-wrap {
  padding: 40px 0px 40px 0px;
}
.lpb-footer-menu {
  color: #335036;
}
.lpb-footer-logo {
  height: 55px!important;
}
.lpb-footer-navbar-item, .lpb-footer-navbar-item:hover {
  color: #335036 !important;
  text-transform: none!important;
  text-decoration: none;
  font-size: 12px!important;
  line-height: 20px;
}
.lpb-footer-navbar-content {
}
.lpb-footer-navbar-group-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #335036;
  margin-bottom: 15px;
}
.lpb-footer-navbar-item:hover {
  color: #A8B674 !important;
}
.lpb-footer-divider {
  border: 1px solid #E7E7E7;
  margin: 40px 0px 30px 0px;
}
.lpb-footer-copyright {
  font-size: 10px;
  color: #555555;
  padding-bottom: 10px;
}
.lpb-footer-social-network {
  padding-right: 10px;
}
.lpb-footer-partners-logo {
  margin: 10px 10px 0px 0px;
  height: 120px;
}
.lpb-footer-copyright a, .lpb-footer-copyright a:hover, .lpb-footer-copyright a:focus {
  color: #555555;
}
@media screen and (min-width: 300px) and (max-width: 650px){
  .lpb-footer-divider {
      display: none;
  }
  .lpb-footer-menu-wrap {
      padding: 0!important;
      padding-bottom: 30px!important;
      text-align: center!important;
  }
  .lpb-footer-copyright {
      font-size: 14px!important;
      padding: 0px 40px 20px 40px !important;
  }
  .lpb-footer-logo {
      margin-top: 40px!important;
      margin-bottom: 20px!important;
  }
  .lpb-footer-copyright-link {
    margin-top: 30px!important;
    margin-bottom: 20px!important;
  }
  .lpb-footer-partners-logo {
    height: 100px!important;
  }
  
}