<!DOCTYPE html>
<html>
<head>
    <title>Inscription Confirmation LPB</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
            rel="stylesheet"
    />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style type="text/css">
        .bodyl {
            /* background-image: url('https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/background.png'); */
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 10px 40px 10px 40px;
            background-color: #f1e1ba;
        }

        body {
            margin:0;
        }
        .LPB-backg {
            background-color: white;
            padding: 10px 20px;
        }

        .LPB-bottom {
            padding: 30px;
            text-align: center;
            font-size: 10px;
        }

        .LPB-logo {
            display: flex;
        }

        .LPB-logo img {
            margin: auto;
            height: auto;
            padding-bottom: 20px;
        }

        .LPB-bloc-texte {
            color: #565656;

        }

        .LPB-bloc-texte h2 {
            color: #335036;
            font-size: 30px;
            font-weight: 700;
            line-height: 37px;
        }

        .LPB-bloc-texte p {
            color: #565656;
            font-weight: 500;
            line-height: 27px;
        }

        .sentence {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 135%;
            color: black;
        }

        .LPB-bloc-texte span {
            color: #a8b674;
            font-weight: bold;
        }

        .LPB-recap h4, h3 {
            color: #335036;
        }

        .LPB-recap {
            margin-top: 35px;
            padding-left: 50px;
        }

        .LPB-recap .NRG-identifiant {
            font-size: 18px;
            font-weight: 800;
            line-height: 27px;
            color: #335036;
        }
        tr, td{
            font-size: 16px;
        }

        /* .second {
            width: 77%;
        } */

        .third {
            /*width: 75%;*/
            color: #565656;
            margin-bottom: 10px;
            font-weight: 800;
        }

        .LPB-recap1 {
            padding-left: 35px;
            background-color: #F2F1EF;
        }

        .LPB-recap7 {
            padding-left: 35px;
        }

        .LPB-recap1 .NRG-identifiant .top {
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 27px;
        }

        .LPB-recap1 .bottom span {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
        }

        .LPB-recap2
        {
            margin-top: 35px;
            padding-left: 50px;
        }
        .LPB-recap5 h4
        { padding: 8px 0 8px 50px;

        }

        .LPB-recap4 {
            padding-left: 50px;
        }

        .LPB-recap2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
        }

        .LPB-recap3 h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            margin-top: 25px;
            margin-bottom: 0;
            padding: 5px 0;
            color: #335036;
        }

        .LPB-recap6 h4 {
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 5px 0;
            color: #335036;
        }
        .LPB-recap6 td {
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 5px 0;
            color: #335036;
        }

        .LPB-recap5 h4 {
            font-size: 23px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
            color: #335036;
        }

        .LPB-recap3 {
            background-color: #F2F1EF;
            padding-left: 50px;
        }

        .LPB-recap6 {
            background-color: #F2F1EF;

        }

        .LPB-title h2 {
            text-align: center;
            color: #565656;
        }

        .LPB-recap h3 {
            color: #335036;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: 24px;
        }

        .LPB-reseauxsociaux h4 {
            color: #335036;
            margin-bottom: 8px;
        }

        .LPB-reseauxsociaux a {
            margin-right: 5px;
        }

        .LPB-reseauxsociaux {
            margin-top: 50px;
        }

        .LPB-coordonnee span {
            margin-left: 15px;
        }

        .first {
            width: 50%;
            color: #565656;
            margin-bottom: 10px;
            font-weight: 800;
        }

        .LPB-creche h3 {
            color: #565656;
            text-align: center;
            font-size: 28px;

        }

        .LPB-title {
            border-right: 1px solid #565656;
            padding: 10px;
        }

        .LPB-titre {
            border-right: 1px solid #565656;
            padding: 28px 37px;
        }

        .LPB-titre h4 {
            color: #565656;
        }

        .LPB-creche {
            display: flex;
            margin-bottom: 20px;
        }

        .LPB-adresse {
            display: flex;
        }

        ul .icone-tel {
            list-style-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/phone-alt.png");

        }

        ul .icone-localisation {
            list-style-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/map-marker-alt.png");

        }

        ul .icone-adresse {
            list-style-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/clock.png");

        }

        ul li {
            margin-bottom: 15px;
        }

        .LPB-ul ul {
            list-style: none;
        }

        .top {
            display: inline-grid;
            margin-right: 180px;
        }


        .bottom {
            display: inline-grid;
            margin-right: 40px;
        }

        .bottom span {
            color: #565656;
            margin-bottom: 10px;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
        }

        .top span {
            color: #565656;
            margin-bottom: 10px;
            font-weight: 800;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
        }
        table {
            width: 100%;
        }

    </style>

    <style type="text/css">

        @media (min-width:240px) and (max-width:640px) {
            .bodyl {
                margin: 0 !important;
                padding: 0 !important;
            }
            tr, td{
                font-size: 14px;
            }

            .LPB-recap {
                margin-top: 20px;
                padding-left: 0px;
            }

            .LPB-recap6 {
                margin-left: 0;
            }

            .top1 {
                display: inline-grid;
                margin-right: 0;
            }

            .LPB-recap1, .LPB-recap2, .LPB-recap3, .LPB-recap4, .LPB-recap5, .LPB-recap6, .LPB-recap7 {
                padding-left: 2px;
            }
            .LPB-recap .NRG-identifiant {
                font-size: 13px;
                font-weight: bold;
            }
            .LPB-bottom {
                padding: 15px;
            }

            /*.NRG-identifiant {
                display: flex;
            }*/

            .NRG-identifiant span .top .a,
            .b,
            .c,
            .d,
            .e,
            .f,
            .g,
            .h,
            .i,
            .j {
                margin-bottom: 25px;

            }

            .NRG-identifiant .top {
                margin-right: 25px;

            }

            .NRG-identifiant span .bottom .a,
            .b,
            .c,
            .d,
            .e,
            .f,
            .g,
            .h,
            .i,
            .j {
                margin-bottom: 30px;
            }

            .NRG-identifiant .bottom span {
                font-size: 13px;
            }

            .demande {
                text-align: initial;
                font-size: 25px;
            }

            .LPB-bloc-texte h2 {
                font-size: 22px;
            }

            .LPB-bloc-texte p {
                text-align: initial !important;
            }

            .LPB-recap5 h4 {
                font-size: 17px;
                padding: 8px 0 8px 0;
            }

            .third {
                font-size:  15px;
            }

            .LPB-recap5 {
                margin-top: 25px;
            }

            .LPB-backg {
                width: 100% !important;;
                padding: 0!important;
            }
            tbody {
                width : 100%;
            }
        }
    </style>
    <style type="text/css">

        @media (min-width:640px) and (max-width:1024px) {
            .LPB-backg {
                padding: 8px !important;
                width: unset;
            }
            /*.LPB-recap {
                margin-top: 20px;
                padding-left: 0px;
            }*/

            .LPB-recap6 {
                margin-left: 0;
            }

            .top1 {
                display: inline-grid;
                margin-right: 0;
            }

            .LPB-recap1, .LPB-recap2, .LPB-recap3, .LPB-recap4, .LPB-recap5, .LPB-recap6, .LPB-recap7 {
                padding-left: 0px;
            }

            .LPB-bottom {
                padding: 15px;
            }

            /*.NRG-identifiant {
                display: flex;
            }*/

            .NRG-identifiant span .top .a,
            .b,
            .c,
            .d,
            .e,
            .f,
            .g,
            .h,
            .i,
            .j {
                margin-bottom: 25px;

            }

            .NRG-identifiant .top {
                margin-right: 25px;

            }

            .NRG-identifiant span .bottom .a,
            .b,
            .c,
            .d,
            .e,
            .f,
            .g,
            .h,
            .i,
            .j {
                margin-bottom: 30px;
            }

            .NRG-identifiant .bottom span {
                font-size: 13px;
            }

            .demande {
                text-align: initial;
                font-size: 25px;
            }

            .LPB-bloc-texte h2 {
                font-size: 22px;
            }

            .LPB-bloc-texte p {
                text-align: initial !important;
            }
            .LPB-recap5 h4 {
                font-size: 17px;
                padding: 8px 0 8px 0;
            }


            .LPB-recap5 {
                margin-top: 25px;
            }
            .bodyl {
                margin: 0 !important;
                padding: 0 !important;
            }

            .LPB-recap {
                margin-top: 20px;
                padding-left: 0px;
            }

            .third {
                /*width: 75%;*/
                color: #565656;
                margin-bottom: 10px;
                font-size: 15px;
                font-weight: 800;
            }
            tbody {
                width : 100%;
            }

        }
    </style>

<body>

<div class="bodyl">

    <div class="LPB-backg">

        <div class="LPB-back">

            <div class="LPB-logo">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png"
                     alt="Petits bouchons"/>
            </div>


            <div class="LPB-bloc-texte">
                <h2 class="demande">Demande de pré-inscription</h2>

                <p>Bonjour,<br/><br/>
                    Vous avez reçu une nouvelle demande de pré-inscription.<br/>
                    Veuillez trouver ci-dessous le récapitulatif de la demande.
                </p>

            </div>

            <div class="LPB-recap">
                <h3 class="besoin">Besoin exprimé</h3>

                <table class="NRG-identifiant">
                    <tbody>
                    <tr>
                        <td colspan="2" class="second">Nombre d’enfant à inscrire : {{nbChild}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="LPB-recap1">

                {{#if show_children}}
                {{#each show_children as |item i|}}

                <table cellpadding=6 cellspacing=8 class="NRG-identifiant tablet">
                    <tbody>
                    <tr>
                        <td class="first">Enfant</td>
                        <td>{{number}}</td>
                    </tr>
                    <tr>
                        <td class="first">Nom</td>
                        <td>{{nameChildren}}</td>
                    </tr>
                    <tr>
                        <td class="first">Prénom</td>
                        <td>{{surnameChildren}}</td>
                    </tr>
                    <tr>
                        <td class="first">Date de naissance</td>
                        <td>{{birthDateChildren}}</td>
                    </tr>
                    <tr>
                        <td class="first">Entrée à la crèche</td>
                        <td>{{startCrecheDateChildren}}</td>
                    </tr>
                    </tbody>

                </table>

                {{/each}}
                {{/if}}

            </div>

            <div class="LPB-recap3">
                <h4>Crèche/Foyer </h4>
            </div>

            <div class="LPB-recap4">
                <div class="NRG-identifiant">
                    <div class="top">
                        {{#if show_creche}}
                        {{#each show_creche}}

                        <span class="a">{{name}}</span>

                        {{/each}}
                        {{/if}}
                    </div>
                </div>

            </div>

            <div class="LPB-recap5">
                <h4>Informations personnelles sur les parents </h4>
            </div>


            <div class="LPB-recap7">

                {{#if show_parent}}
                {{#each show_parent as |item i|}}

                <!-- <div class="LPB-recap6">
                    <h4>Parent {{number}}</h4>
                </div> -->

                <table cellpadding=6 cellspacing=8 class="NRG-identifiant tablet">
                    <tbody>
                    <tr class="LPB-recap6">
                        <td colspan="2" cellspacing=4 >Parent</td>
                    </tr>
                    <tr>
                        <td class="third">Nom </td>
                        <td>{{parentName}}</td>
                    </tr>
                    <tr>
                        <td class="third">Prénom(s) {{number}}</td>
                        <td>{{parentFistName}}</td>
                    </tr>

                    <tr>
                        <td class="third">Adresse</td>
                        <td>{{parentAddress}}</td>
                    </tr>
                    <tr>
                        <td class="third">Code postal</td>
                        <td>{{parentPostalCode}}</td>
                    </tr>
                    <tr>
                        <td class="third">Ville</td>
                        <td>{{parentCity}}</td>
                    </tr>
                    <tr>
                        <td class="third">Pays</td>
                        <td>{{parentCountry}}</td>
                    </tr>
                    <tr>
                        <td class="third">Numéro de téléphone</td>
                        <td>{{parentPhone}}</td>
                    </tr>
                    <tr>
                        <td class="third">Adresse e-mail</td>
                        <td>{{parentEmail}}</td>
                    </tr>
                    </tbody>

                </table>
                {{/each}}
                {{/if}}

            </div>

        </div>


    </div>


    <div class="LPB-bottom">
        <p class="sentence"> Copyright © 2021 LesPtitsBouchons. Tous droits réservés.
        </p>
    </div>

</div>

</body>


</head>
</html>