  .lpb-home-page-features-max-w {
    box-sizing: content-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .lpb-home-page-features-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #335036;
    padding: 30px 0px 90px 0px;
  }
  .lpb-home-page-features-grid {
  }
  .lpb-home-page-features-box-item {
    position: relative;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 225px 125px rgba(0, 0, 0, 0.03),
      0px 82.1287px 45.6271px rgba(0, 0, 0, 0.0222814),
      0px 39.872px 22.1511px rgba(0, 0, 0, 0.0177708),
      0px 19.546px 10.8589px rgba(0, 0, 0, 0.0141132),
      0px 7.72851px 4.29362px rgba(0, 0, 0, 0.00991667);
    border-radius: 10px;
  }
  .lpb-home-page-features-box-item-icon-content {
    border-radius: 100px;
    width: 90px;
    height: 90px;
  }
  .lpb-home-page-features-box-item-icon-content-red {
    background: #fdddf0;
  }
  .lpb-home-page-features-box-item-icon-content-green {
    background: #dcf3df;
  }
  .lpb-home-page-features-box-item-icon-content-blue {
    background: #cdf0f8;
  }
  .lpb-home-page-features-box-item-icon-content svg {
    margin-top: 22px;
    height: 40px;
    margin-left: 18px;
  }
  .lpb-home-page-features-box-item-icon-content-red svg {
    /*margin-left: -7px !important;*/
  }
  .lpb-home-page-features-box-item-red .lpb-home-page-features-box-item-title {
    color: #ee1798;
  }
  .lpb-home-page-features-box-item-red .lpb-home-page-features-box-item-btn {
    background: #ee1798;
  }
  .lpb-home-page-features-box-item-green .lpb-home-page-features-box-item-title {
    color: #3a8542;
  }
  .lpb-home-page-features-box-item-green .lpb-home-page-features-box-item-btn {
    background: #3a8542;
  }
  .lpb-home-page-features-box-item-blue .lpb-home-page-features-box-item-title {
    color: #40b0ca;
  }
  .lpb-home-page-features-box-item-blue .lpb-home-page-features-box-item-btn {
    background: #40b0ca;
  }
  .lpb-home-page-features-box-item-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 14px;
    padding-top: 30px;
  }
  .lpb-home-page-features-box-item-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #335036;
    height: 400px;
  }
  .log-creche-green-tetine-mobile {
    display: none;
  }
  @media screen and (min-width: 1120px) and (max-width: 1320px) {
    .lpb-home-page-features-box-item-desc {
      height: 360px;
      font-size: 15px;
      line-height: 25px;
    }
    .lpb-home-page-features-box-item-btn {
      font-size: 14px;
      padding: 11px 22px 11px 22px;
    }
  }
  .lpb-home-page-features-box-item-btn svg {
    margin-left: 10px;
  }
  .lpb-home-page-features-box-item-btn-container {
    position: absolute;
    bottom: 40px;
  }
  .lpb-home-page-features-box-item-btn-container a {
    text-decoration: none;
  }
  .lpb-home-page-features-box-item-btn {
    border: none;
    border-radius: 65px;
    text-transform: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 11px 25px 11px 25px;
    display: initial;
  }
  .lpb-home-page-features-box-item-btn:hover,
  .lpb-home-page-features-box-item-btn:focus,
  .lpb-home-page-nairgym-infos-btn:active {
    border: none;
    color: white;
  }

@media screen and (min-width: 320px) and (max-width: 650px) {
    .lpb-home-page-features-title {
        font-size: 24px!important;
        line-height: 29px!important;
        padding: 60px 0px 57px 0px!important;
        margin-left: 14%;
        margin-right: 14%;
    }
    .log-creche-pink-tetinegauche, .log-creche-pink-tetinegauche, .log-creche-blue-tetinedroite {
        display: none!important;
    }
    .lpb-home-page-features-box-item {
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px!important;
    }
    .lpb-home-page-features-box-item-desc {
        text-align: justify!important;
        height: 400px!important;
        margin-top: 20px;
    }
    .log-creche-green-tetine-mobile {
      display: block!important;
      position: absolute!important;
      right: 0%!important;
      bottom: 94%!important;
    }
    .log-creche-green-tetine {
        display: none;
        width: 24%!important;
        position: absolute!important;
        right: -7%!important;
        bottom: 94%!important;
    }
    .log-creche-green-tetine-container-relative {
        position: relative;
    }
    .lpb-home-page-features-box-item-title {
        font-size: 24px!important;
        line-height: 29px!important;
    }
    .lpb-home-page-features-box-item-mobile-disp {
        display: flex;
    }
    .lpb-home-page-features-max-w {
        margin-bottom: 50px;
    }
    .lpb-home-page-features-box-item-mobile-disp .lpb-home-page-features-box-item-title {
        margin-left: 30px;
    }
    .lpb-home-page-features-box-item-btn-container {
        left: 20%!important;
    }
    .lpb-home-page-features-box-item-icon-content {
        width: 85px!important;
        height: 85px!important; 
    }
    .lpb-home-page-features-box-item-icon-content svg {
        margin-left: 13px!important;
        margin-top: 20px!important;
    }
}
