.lpb-component-nuseries-wrap{
    background-color: #335036;
}
.lpb-component-nuseries-content-creche{
    padding: 4%;
}
.lpb-component-nuseries-grandivsectgrand{
    background-color: #F6F6F6;
}
.lpb-component-nuseries-title{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 110.4%;
    color: #F4E5C2;
}
.lpb-component-nuseries-desc-container {
    margin-left: 20%;
    margin-right: 20%;
}
.lpb-component-nuseries-desc-1{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.lpb-component-nuseries-desc-2{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 20px;
}
.lpb-component-nuseries-crechename{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F4E5C2;
}
/* .lpb-component-nuseries-grandivcreche{
    margin-top: 30px;
} */
.lpb-component-nuseries-grandivcreche a, .lpb-component-nuseries-grandivcreche-mobile a {
    text-decoration: none;
}
.lpb-component-nuseries-grandivcreche-mobile {
    display: none;
    margin-left: 0%!important;
    margin-right: -12%!important;
}
.lpb-component-nuseries-btn-registration-wrap {
    margin-top: 20px;
}
.lpb-component-nuseries-btn-registration-wrap a {
    text-decoration: none;
}
.lpb-component-nuseries-btn-registration {
    border: none;
    background-color: #A8B674;
    box-shadow: 0px 33px 87px rgba(51, 80, 54, 0.17), 0px 19.4346px 34.3431px rgba(51, 80, 54, 0.117297), 0px 10.6942px 19.1508px rgba(51, 80, 54, 0.0945694), 0px 5.12812px 10.975px rgba(51, 80, 54, 0.0754306), 0px 1.77451px 5.07393px rgba(51, 80, 54, 0.0527031);
    border-radius: 44px;
    text-transform: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding: 24px 56px 24px 56px;
    display: initial;
  }
.lpb-component-nuseries-btn-registration:hover {
    border: none;
    background-color: #ffffff;
    color: #A8B674;
}
@media screen and (min-width: 300px) and (max-width: 650px){
    .lpb-component-nuseries-grandivcreche {
        display: none!important;
    }
    .lpb-component-nuseries-grandivcreche-mobile {
        display: block!important;
    }

}
