<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <title>Confirmation Notification LPB</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
            rel="stylesheet"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
    
        .bodyl {
            /* background-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/background.png"); */
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 6px 15px 6px 15px;
            background-color: #f1e1ba;

        }
        .imgreseaux{
                 width: 3%;
            }

        body {
            margin: 0;
        }
        .background {
            font-style: normal;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
        }


        .LPB-backg {
            background-color: white;
            padding: 10px;
        }

        .LPB-bottom {
            padding: 30px;
            text-align: center;
            font-size: 10px;
        }

        .LPB-logo {
            display: flex;
        }

        .LPB-logo img {
            margin: auto;
            height: auto;
            padding-bottom: 20px;
        }

        .LPB-bloc-texte {
            color: #565656;
            text-align: justify;
        }

        .LPB-bloc-texte h2 {
            color: #335036;
        }

        .LPB-bloc-texte P {
            line-height: 25px;
        }

        .sentence {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 135%;
            color: black;
        }

        .LPB-bloc-texte .nomvariable {
            color: #a8b674;
            font-weight: bold;
        }

        .LPB-recap h4, h3 {
            color: #335036;
        }
        .lpb-titrecrecherecap{
            text-align: center;
        }

        .LPB-recap {
            margin-top: 35px;
        }

        .LPB-recap1 {
            margin-top: 35px;
            background-color: #F9F9F9;
            padding: 2px 30px;
            
        }

        .LPB-recap1 h4 {
            color: #335036;
        }

        .LPB-title h2 {
            text-align: center;
            color: #565656;
        }

        .LPB-recap h3 {
            color: #335036;
        }

        .LPB-reseauxsociaux h4 {
            color: #335036;
            margin-bottom: 8px;
        }

        .LPB-reseauxsociaux a {
            margin-right: 5px;
        }

        .LPB-reseauxsociaux {
            margin-top: 50px;
        }

        .LPB-coordonnee span {
            margin-left: 15px;
        }

        .LPB-creche h3 {
            color: #565656;
            text-align: center;
            font-size: 28px;

        }
        .NRG-identifiant {
            padding: 25px;
        }

        .LPB-title {
            border-right: 1px solid #565656;
            padding: 33px;
            width: 40%;
        }

        .LPB-titre {
            border-right: 1px solid #565656;
            padding: 33px 5px;
            width: 40%;

        }

        .LPB-titre h2 {
            color: #565656;
        }

        .LPB-creche {
            display: flex;
            margin-bottom: 20px;
        }

        .LPB-adresse {
            display: flex;
        }

        ul .icone-tel {
            list-style: none;
            /* list-style-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/phone-alt.png"); */
        }

        ul .icone-localisation {
            list-style: none;
            /* list-style-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/map-marker-alt.png"); */
        }

        ul .icone-adresse {
            list-style: none;
            /* list-style-image: url("https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/clock.png"); */
        }

        ul li {
            margin-bottom: 15px;
        }

        .LPB-ul ul {
            list-style: none;
        }

        .top {
            display: inline-grid;
            margin-right: 10px;
        }

        .bottom {
            display: inline-grid;
            margin-right: 40px;
        }

        .bottom span {
            color: #565656;
            margin-bottom: 10px;
        }

        .top span {
            color: #B8AFA5;
            margin-bottom: 10px;
        }

        .LPB-reseauxsociaux a {
            text-decoration: none;
        }

        .LPB-ul .entrée {
            color: #335036;
            font-weight: bold;
        }
    </style>

    <style type="text/css">

        @media (min-width:240px) and (max-width:640px) {
            .imgreseaux{
                 width: 8%;
            }
            .bodyl {
                margin: 0 !important;
                padding: 0 !important;
            }
            .LPB-recap1 {
                padding: 10px 10px;
            }
            .LPB-coordonnee ul {
                padding-left: 5px;
            }
            .LPB-ul ul {
                padding-left: 15px;
            }
            .LPB-backg {
                width:100%!important;
                padding: 0!important;
                margin: 0!important;
            }

            .LPB-titre {
                padding: 10px 5px;
                text-align: left;
            }

            .LPB-coordonnee span {
                margin-left: 0;
            }

            .LPB-bloc-texte {
                text-align: initial;
            }

            .LPB-ul ul {
                padding-left: 15px;
            }

            .LPB-titre h2 {
                font-size: 15px;
            }

            .LPB-title h2 {
                font-size: 15px;
                text-align: initial;
                margin-top: 0;
                margin-bottom: 0;
            }

            ul li {
                font-size: 15px;
            }

            .LPB-title {
                /*padding: 5px 0;*/
            }

            .LPB-bloc-texte h2 {
                font-size: 20px;
            }
        }

    </style>

    <style type="text/css">

        @media  (min-width:640px) and (max-width:1024px) {
            .imgreseaux{
                 width: 8%;
            }
           /* .bodyl {
                margin: 0 !important;
                padding: 0 !important;
            }
            .LPB-recap1 {
                padding: 18px 5px;
            }
            !* .LPB-recap1 {
                padding: 10px 0;
            } *!
            .LPB-coordonnee ul {
                padding-left: 5px;
            }
            .LPB-ul ul {
                padding-left: 15px;
            }
            .LPB-backg {
                padding: 25px;

            }

            .LPB-titre {
                padding: 30px 0;
                text-align: left;
            }

            .LPB-coordonnee span {
                margin-left: 0;
            }

            .LPB-bloc-texte {
                text-align: initial;
            }

            .LPB-ul ul {
                padding-left: 15px;
            }

            .LPB-titre h2 {
                font-size: 18px;
            }

            .LPB-title h2 {
                font-size: 18px;
                text-align: initial;
                margin-top: 0;
                margin-bottom: 0;
            }

            ul li {
                font-size: 15px;
            }

            .LPB-title {
                padding: 20px 6px 20px 0px;
            }

            .LPB-bloc-texte h2 {
                font-size: 20px;
            }*/

            .bodyl {
                margin: 0 !important;
                padding: 0 !important;
            }
            .LPB-recap1 {
                padding: 10px 0;
            }
            .LPB-coordonnee ul {
                padding-left: 5px;
            }
            .LPB-ul ul {
                padding-left: 15px;
            }
            .LPB-backg {
                width:100%!important;
                padding: 0!important;
                margin: 0!important;
            }


            .LPB-titre {
                padding: 10px 0;
                text-align: left;
            }

            .LPB-coordonnee span {
                margin-left: 0;
            }

            .LPB-bloc-texte {
                text-align: initial;
            }

            .LPB-ul ul {
                padding-left: 15px;
            }

            .LPB-titre h2 {
                font-size: 15px;
            }

            .LPB-title h2 {
                font-size: 15px;
                text-align: initial;
                margin-top: 0;
                margin-bottom: 0;
            }

            ul li {
                font-size: 15px;
            }

            .LPB-title {
                padding: 5px 0;
            }

            .LPB-bloc-texte h2 {
                font-size: 20px;
            }

            .NRG-identifiant {
                width : 100%;

            }

            .NRG-identifiant td  {
                text-align: center;
                padding: 0;
                margin: 0;
                width: 4%;
            }
        }
    </style>

<body>
<div class="bodyl">
    <div class="LPB-backg">
        <!-- <img class="background" src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/background.png"
        alt="Petits bouchons"/> -->


        <div class="LPB-back">

            <div class="LPB-logo">
                <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/LPB-logo+2.png"
                     alt="Petits bouchons"/>
            </div>


            <div class="LPB-bloc-texte">
                <h2>Demande de place en crèche/foyer</h2><br />
                <h4>Bonjour <span class="nomvariable">{{name}}</span>,
                </h4>
                <p> Nous avons bien reçu votre demande de place en crèche sur notre site Les Ptits Bouchons et vous remercions pour votre confiance.
                </p>

                <p> Nous savons combien la recherche d’un mode de garde est une étape importante pour chaque parent.</p><br /><br />
                     <p> Nous vous contacterons dans les meilleurs délais afin de programmer un rendez-vous.
                </p>
                <p>A très bientôt,
                </p>
                <p> L’équipe Les P'tits Bouchons</p>
            </div>

            <div class="LPB-recap1">
                <h3 class="lpb-titrecrecherecap">Récapitulatif de votre demande de place en crèche/foyer</h3>
<!--                <h4>Crèche(s) choisie(s) :</h4>-->


                {{#if show_creche}}
                {{#each show_creche as |item i|}}
                <div class="LPB-creche">
                    <div class="LPB-title">
                        <h2>{{name}}</h2>
                    </div>
                    <div class="LPB-coordonnee">

                        <table class="NRG-identifiant ">
                            <tbody>
                            <tr>
                                <td class=""><img
                                        src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/map-marker-alt.png"
                                        alt="Petits bouchons"/></td>
                                <td>{{availability}}</td><br />
                            </tr>
                            <tr>
                                <td class=""><img
                                        src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/email_images/phone-alt.png"
                                        alt="Petits bouchons"/></td>
                                <td>{{phone}}</td>
                            </tr>
                                                
                            </tbody>
                        </table>


                    </div>
                </div>

                {{/each}}
                {{/if}}
            </div>

            <div class="LPB-recap">
<h4>Votre besoin:</h4>


                {{#if show_children}}
                {{#each show_children as |item i|}}

                <div class="LPB-creche">
                    <div class="LPB-titre">
                        <h2>Informations sur l'enfant n° {{number}}</h2>
                    </div>
                    <div class="LPB-ul">
                        <ul>
                            <li>{{nameChildren}} {{surnameChildren}} né(e) le {{birthDateChildren}}</li>
                            <li class="entrée">Date d’entrée en crèche/foyer</li>
                            <li>{{startCrecheDateChildren}}</li>
                        </ul>

                    </div>
                </div>

                {{/each}}
                {{/if}}


                <div class="LPB-reseauxsociaux">
                    <h4>Suivez-nous</h4>

                    <div class="reseauxsociaux">

                        <a href="https://www.facebook.com/crechelesptitsbouchons.lu/">
                            <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/Vector+(2).png"
                                 alt="Petits bouchons"
                                 class="imgreseaux"/>
                        </a>
                        <a href="https://www.linkedin.com/company/aura-group-integrate-humanity/">
                            <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/Vector+(1).png"
                                 alt="Petits bouchons"
                                 class="imgreseaux"/>
                        </a>

                        <a href="https://www.instagram.com/lesptitsbouchons.lu/">
                            <img src="https://s3.eu-west-3.amazonaws.com/s3.hemle.lu/Vector+(3).png"
                                 alt="Petits bouchons"
                                 class="imgreseaux"/>
                        </a>
                    </div>
                </div>

            </div>

        </div>


    </div>

</div>


</body>


</head>
</html>