@media screen and (min-width: 320px) and (max-width: 650px) {
  .lpb-home-page-nairgym-infos-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .lpb-home-page-nairgym-infos-content>div.uk-text-center {
    margin-top: 50px;
  }
  .lpb-home-page-nairgym-avatar-wrap {
    left: 34%!important;
    width: 33%;
    top: 83px!important;
  }
  .lpb-home-page-nairgym-infos-btn {
    font-size: 12px!important;
    line-height: 15px!important;
    height: 36px!important;
  }
  .lpb-home-page-nairgym-infos-details-title {
    font-size: 24px!important;
    line-height: 29px!important;
    padding-top: 15px!important;
  }
  .lpb-home-page-nairgym-infos-sport-img {
    border-radius: 10px;
  }
  .lpb-home-page-nairgym-infos-content {
    padding-bottom: 0px!important;
  }
  .lpb-home-page-nairgym-infos-details-desc {
    text-align: center;
    font-size: 12px!important;
    line-height: 15px!important;
  }
  .lpb-home-page-nairgym-infos-details-desc-wrap {
    text-align: center;
    padding-right: 0px!important;
  }
  .lpb-home-page-actuality-title {
    font-size: 24px!important;
    line-height: 29px!important;
    margin-left: 50px;
    margin-right: 50px;
  }
  .lpb-home-page-actuality-desc {
    margin-top: 23px!important;
    font-size: 12px!important;
    line-height: 15px!important;
    margin-left: 14%!important;
    margin-right: 14%!important;
  }
  .lpb-home-page-actuality-citation-author {
    font-size: 12px!important;
    line-height: 15px!important;
  }

  .lpb-component-nuseries-title {
    font-size: 24px!important;
    line-height: 29px!important;
  }
  .lpb-component-nuseries-desc-container {
    margin-left: 11%!important;
    margin-right: 11%!important;
  }
  .lpb-component-nuseries-desc-1, .lpb-component-nuseries-desc-2 {
    font-size: 14px!important;
    line-height: 17px!important;
  }
  .lpb-component-nuseries-content-creche {
    padding: 10%!important;
  }
  .lpb-home-page-philosophy-title {
    font-size: 24px!important;
    line-height: 29px!important;
  }
  .lpb-home-page-philosophy-container-box {
    margin: 0!important;
  }
  .lpb-home-page-philosophy-content {
    padding: 8%!important;
  }
  .lpb-home-page-philosophy-desc {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 12px!important;
    line-height: 15px!important;
  }
  .lpb-home-pageslider-video-title {
    font-size: 12px!important;
    line-height: 15px!important;
  }
  .lpb-home-pageslider-video-wrap {
    left: 28%!important;
    width: 130px!important;
  }
  .lpb-home-pageslider-video-time {
    padding-top: 10px!important;
  }
  .lpb-home-page-philosophy-card-content-text {
    font-size: 16px!important;
    line-height: 20px!important;
  }
  .lpb-home-page-features-wrap {
    display: none!important;
  }
  .lpb-home-page-features-wrap-mobile {
    display: block!important;
  }
}
.lpb-home-page-features-wrap {
  background: #ffffff;
}
.lpb-home-page-features-wrap-mobile {
  background: #ffffff;
  display: none;
}
.lpb-home-page-features-content-full {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lpb-cover-video-content {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}
.lpb-a-buttondecouvrir-home:hover{
  text-decoration: none;
}

.lpb-home-pageslider-video-container {
  position: relative;
}
.lpb-home-pageslider-video-full {
  object-fit: cover;
  width: 100vw;
  height: 552px;
  top: 0;
  left: 0;
}
.lpb-home-pageslider-video-full::-webkit-media-controls-timeline {
  display: none;
}
.lpb-home-pageslider-video-wrap {
  position: absolute;
  bottom: 50px;
  left: 70px;
  background: #a8b674;
  width: 146px;
  padding: 53px 18px 53px 18px;
  border-radius: 100%;
}
.lpb-home-pageslider-video-title {
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  line-height: 20px;
  text-transform: uppercase;
}
.lpb-home-pageslider-video-time {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 15px;
}
.lpb-home-page-philosophy-content {
  padding: 4%;
}
.lpb-home-page-philosophy-container-box {
  margin-left: 8%;
  margin-right: 8%;
}
.lpb-home-page-philosophy-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #335036;
}
.lpb-home-page-philosophy-desc {
  padding: 4%;
  color: #335036;
  font-weight: 500;
}
.lpb-home-page-philosophy-card-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.lpb-home-page-philosophy-card-container img {
  width: 100%;
}
.lpb-home-page-philosophy-card-content-text {
  margin-left: 10%;
  margin-right: 10%;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.lpb-home-page-philosophy-card-content-cover {
  position: absolute;
  background: rgba(51, 80, 54, 0.5);
  height: 100%;
  width: 100%;
}
.lpb-home-page-actuality-content {
  padding: 4%;
}
.lpb-home-page-actuality-container-box {
  margin-left: 8%;
  margin-right: 8%;
}
.lpb-home-page-actuality-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #335036;
}
.lpb-home-page-actuality-desc {
  margin: 8px;
  margin-left: 10%;
  margin-right: 10%;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #335036;
}
.lpb-home-page-actuality-divider {
  width: 42px;
  height: 0px;
  border: 0.3px solid #335036;
  display: inline-flex;
}
.lpb-home-page-actuality-citation-author {
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #335036;
  margin-bottom: 25px;
}
.lpb-home-page-actuality-post-box {
  position: relative;
  padding: 8%;
  height: 220px;
  background: white;
}
.lpb-home-page-actuality-post-btn {
  position: absolute;
  bottom: 20px;
  left: 33%;
}
.lpb-home-page-actuality-post-btn a {
  text-decoration: none;
}
.lpb-home-page-actuality-post-img {
  width: 100%;
}
.lpb-home-page-actuality-post-date {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #30672e;
  margin-bottom: 10px;
}
.lpb-home-page-actuality-post-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #444444;
  margin-bottom: 14px;
}
.lpb-home-page-actuality-post-desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #837e7e;
  margin-bottom: 20px;
}
.lpb-home-page-actuality-post-read-more {
  border: 1px solid #a8b674;
  background-color: #a8b674;
  border-radius: 65px;
  text-transform: none;
  color: #ffffff;
  font-weight: 350;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 25px 8px 25px;
  display: initial;
}
.lpb-home-page-actuality-post-read-more:hover,
.lpb-home-page-actuality-post-read-more:focus,
.lpb-home-page-actuality-post-read-more:active {
  border: 1px solid #a8b674;
  background-color: #a8b674;
  color: #ffffff;
}
.lpb-home-page-actuality-post-divider {
  width: 100%;
  height: 3px;
  background: #a8b674;
}
.lpb-home-page-nairgym-infos-container {
  position: relative;
  padding-top: 150px;
  padding-bottom: 80px;
}
.lpb-home-page-nairgym-avatar-wrap {
  position: absolute;
  top: 60px;
  left: 10%;
  background: #ffffff;
  border: 5px solid #ed7534;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 100px;
}
.lpb-home-page-nairgym-infos-content {
  background: #ed7534;
  border-radius: 10px;
  padding: 50px;
}
.lpb-home-page-nairgym-infos-btn {
  border: none;
  background-color: white;
  border-radius: 65px;
  text-transform: none;
  color: #ed7534;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  padding: 8px 35px 8px 35px;
  display: initial;
  height: 50px;
}
.lpb-home-page-nairgym-infos-btn:hover,
.lpb-home-page-nairgym-infos-btn:focus,
.lpb-home-page-nairgym-infos-btn:active {
  border: none;
  background-color: white;
  color: #ed7534;
}
.lpb-home-page-nairgym-infos-details-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  padding-bottom: 30px;
}
.lpb-home-page-nairgym-infos-details-desc-wrap {
  padding: 25px;
  padding-left: 0px;
}
.lpb-home-page-nairgym-infos-details-desc {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 25px;
}
.lpb-home-page-newsletter-container {
  position: relative;
}
.lpb-home-page-newsletter-container-cover {
  position: absolute;
  background: rgba(51, 80, 54, 0.5);
  height: 100%;
  width: 100%;
}
.lpb-home-page-newsletter-content {
  padding: 45px 0px 45px 0px;

  position: relative;
}
.lpb-home-page-newsletter-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.lpb-home-page-newsletter-desc {
  padding-top: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
.lpb-home-page-newsletter-from-wrap {
  padding: 25px;
  display: flex;
}
.lpb-home-page-newsletter-from-field-input,
.lpb-home-page-newsletter-from-field-input:hover,
.lpb-home-page-newsletter-from-field-input:focus {
  color: #999797;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-left: 65px !important;
  border: none;
  box-sizing: border-box;
  border-radius: 33px 0px 0px 33px;
}
.lpb-home-page-newsletter-from-submit {
  border: none;
  background: #f4e5c2;
  border-radius: 0px 33px 33px 0px;
  text-transform: none;
  color: #335036;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 35px 8px 35px;
  display: initial;
  width: 220px;
}
.lpb-home-page-newsletter-from-submit:hover,
.lpb-home-page-newsletter-from-submit:focus,
.lpb-home-page-newsletter-from-submit:active {
  border: none;
  background-color: #f4e5c2;
  color: #335036;
}
.log-creche-blue-tetinedroite {
  width: 45%;
  position: relative;
  bottom: 15%;
  right: -83%;
}
.log-creche-green-tetine {
  width: 45%;
  position: relative;
  right: -63%;
  bottom: 86%;
}
.log-creche-pink-tetinegauche {
  width: 45%;
  position: relative;
  bottom: 13%;
  left: -26%;
}

