.lpb-foetzbloc {
  margin-left: 10%;
  margin-right: 10%;
}

.lpb-imgbigblocnocolorpage {
  width: 100%;
}
.lpb-bigbloggreen {
  background-color: #335036;

  padding: 40px 0px 40px 0px;
}
.lpb-bloc-toutltletexte {
  padding: 0 30px !important;
}
.lpb-imgbigblocgreen {
  width: 100%;
}
.lpb-color {
  background-color: #a8b674 !important;
  margin-top: 50px;
}
.lpb-titlebigblocgreen {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  color: white;
}
.lpb-textebigblocgreen {
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;
  color: white;
}
.lpb-blocnocolor {
  padding: 40px 0px 40px 0px;
}
.lpb-titleblocnocolor {
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #335036
}
.lpb-texteblocnocolor {
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;
  color: #335036;
}
.lpb-titlesecondblocnocolor {
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: justify;
  color: #335036;
  font-weight: 700;
}

.lpb-btnpreinscriptionblocnocolor {
  outline: none;
  color: white;
  border: none;
  background-color: #335036;
  border-radius: 44px;
  font-size: 16px;
  margin-top: 20px;
  height: 68px;
  width: 237px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: none !important;
  box-shadow: 0px 1.7745075225830078px 5.073928356170654px 0px #335036;
  cursor: pointer;
}

.lpb-btnpreinscriptionbloc {
  outline: none;
  color: white;
  border: none;
  background-color: #335036;
  border-radius: 44px;
  font-size: 16px;
  margin-top: 20px;
  height: 68px;
  width: 237px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: none !important;
  box-shadow: 0px 1.7745075225830078px 5.073928356170654px 0px #335036;
  cursor: pointer;
}
.lpb-blocgreenbas {
  background-color: #335036;
}
.lpb-titlehautgreenbas {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: #f4e5c2;
}
.lpb-textehautgreenbas {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.lpb-textesecondhautgreenbas {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
.lpb-blocfourimg {
  margin-left: 10%;
  margin-right: 10%;
}
.lpb-blocgreenbas {
  padding-bottom: 40px;
  padding-top: 20px;
}
.lpb-textbasbigblocgreen {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  color: #f4e5c2;
}
.uk-panel {
  position: unset !important;
}
.lpb-overlay {
  background-color: green;
}

.lpb-color:hover {
  border: none;
  background-color: #ffffff !important;
  color: #a8b674 !important;
}
.lpb-btnpreinscriptionbloc:hover {
  
  border: none;
  background-color: #ffffff !important;
  color: #a8b674 !important;
}
.lpb-blocnocolorhaut {
  margin-top: -45px !important;
}
.lpb-foyer {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.lpb-foyer-cover {
  border-radius: 10px;
  position: absolute;
  background: rgba(51, 80, 54, 0.5);
  height: 100%;
  width: 100%;
}





@media (max-width: 640px){
  .lpb-btnpreinscriptionblocnocolor{
    height: 58px;
  }


.lpb-titrebloc2 {
  
  line-height: 70px;
  
}
  .lpb-titlebigblocgreen {
    font-size: 30px;
    text-align: center;
}
.lpb-titleblocnocolor {
  font-size: 24px;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.lpb-texteblocnocolor {
  padding: 0px 17px 0px 20px;
  font-size: 14px;
}
.lpb-titlesecondblocnocolor {
  padding: 0px 20px 0px 20px;
 
}
.lpb-btn-responsivepreinscription{
  text-align: center;
}
.lpb-imgbigblocnocolorpage{
  margin-top: 1px;
}
.lpb-btnpreinscriptionbloc{
  height: 58px;
}
.lpb-ours-section-bgposition{
  margin-top: 50px;
}
}
@media (min-width: 768px) and (max-width: 1024px){
  .lpb-imgbigblocnocolorpage {
    margin-top: 80px;
}
.lpb-imgbigblocgreen {
  margin-top: 90px;
}
.lpb-imgbigblocgreen {
  width: 100%;
  margin-top: 50px;
}
.lpb-bloc-toutltletexte {
  padding:0px !important;
}
.lpb-titleblocnocolor {
  font-size: 28px;
 
}
}

@media (min-width: 641px) and (max-width: 767px){
  .lpb-bloc-toutltletexte {
    padding:0px !important;
}
.lpb-imgbigblocgreen {
  margin-top: 120px;
}
.lpb-titleblocnocolor {
  font-size: 20px;
 
}
.lpb-imgbigblocnocolorpage{
  margin-top: 125px;
}
}
