.titreActu {
  padding: 50px 0px 40px 50px;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #335036;
}
.lpb-space-component-actualite
{
 padding-bottom: 50px;
}

@media (min-width: 319px) and (max-width: 645px) {
  .titreActu {
    padding: 40px 0px 15px 24px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #335036;
  }
}
