.lpb-home-page-actuality-post-desc-suite {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #444444;
  }
  .lpb-blocactalite {
    margin: 0px;
  }
  .lpb-image-height-actalite {
    /*height: 350px;*/
  }
  .lpb-actuality-cover{
    width: 100%;
    height:calc(20vw);
    background-size:cover;
    border-radius:10px;
    margin: auto;
  }
  
  .lpb-home-page-actuality-post-box-suite {
    position: relative;
    padding: 50px 85px 30px 85px;
    background: white;
  }
  
  .lpb-home-page-actuality-post-title-suite {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #444444;
    margin-bottom: 35px;
  }
  
  .lpb-home-page-actuality-post-date-suite {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #30672e;
    margin-bottom: 50px;
  }
  .lpb-paddingcardactu {
    margin-top: 50px;
    padding: 10px !important;
  }
  .titreActuautres {
    padding: 50px 0px 20px 10px;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: black;
  }
  
  .author {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 211%;
    text-align: justify;
    color: #9e9e9e;
  }
  
  .lpb-defilement {
    padding: 6px !important;
  }
  
  .picture {
    margin: 50px 100px;
  
    text-align: center;
  }
  .video {
    outline: none;
    object-fit: cover;
    height: 38 0px;
    top: 0;
    left: 0;
  }
  .embed {
    outline: none;
    object-fit: cover;
    width: 100%;
  }
  iframe {
    outline: none;
    object-fit: cover;
    width: 700px;
  }

  .lpb-read-actuality-spinner {
    margin-top: 26vh;
    margin-bottom: 50vh!important;
    text-align: center;
  }
  
  @media (min-width: 319px) and (max-width: 645px) {
    .lpb-home-page-actuality-post-box-suite {
      position: relative;
      padding: 30px 10px 30px 10px;
      background: white;
    }
  
    iframe {
      outline: none;
      object-fit: cover;
      width: 240px;
    }
    .picture {
      margin: 0px;
    
      
    }
    .lpb-paddingcardactu {
      margin-top: 30px;
      padding: 10px !important;
    }
    .lpb-home-page-actuality-post-date-suite {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #30672e;
      margin-bottom: 19px;
    }
  
    .lpb-home-page-actuality-post-title-suite {
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: black;
      margin-bottom: 20px;
    }
  
    .titreActuautres {
      padding: 30px 0px 20px 10px;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: black;
    }
  }
  