.lpb-register-creche-card-wrap {
    margin: 0px 4% 100px 4%;
}
.lpb-register-creche-card-content {
    border-radius: 19px;
    cursor: pointer;
    height: 380px;
}
.lpb-register-creche-card-title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 21px;
}
.lpb-register-creche-card-not-selected {
    color: #565656;
    background: #EDF3EE;
}
.lpb-register-creche-card-not-selected a {
    color: #565656;
}
.lpb-register-creche-card-selected {
    color: #FFFFFF;
    background: #335036;
}
.lpb-register-creche-card-infos-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-left: 14px;
}
.lpb-register-creche-card-infos-wrap {
    margin-bottom: 15px;
}
.lpb-register-creche-card-pick {
    width: 40px;
    height: 40px;
    border: 1px solid #565656;
    border-radius: 100px;
}
.lpb-register-creche-card-selected .lpb-register-creche-card-pick {
    background: #A8B674;
}
.lpb-register-creche-card-pick svg {
    padding-top: 13px;
}
.lpb-register-creche-card-container {
    margin-top: 50px!important;
}
.lpb-register-creche-card-selected svg {
    fill: #335036;
}
.lpb-register-creche-card-selected a {
    color: #ffffff;
}
.lpb-register-creche-card-inactive {
    color: red;
    font-weight: 600;
}
/*Mobile*/ 
@media screen and (min-width: 320px) and (max-width: 650px){

    .lpb-register-creche-card-content {
        margin-left: -25px!important;
        margin-right: -25px!important;
    }
    .lpb-register-creche-card-box > div {
        margin-bottom: 15px!important;
        margin-top: 0px!important;
    }
}
