.lpb-banner-have-space {
  padding-top: 145px;
  padding-bottom: 145px;
  height: 380px;
}
.lpb-banner-container {
  vertical-align: middle;
}
.lpb-banner-title-content {
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  color: #ffffff;
}
.lpb-banner-desc-content {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
}
.lpb-header-btn-comingsoong, .lpb-header-btn-comingsoong:hover, .lpb-header-btn-comingsoong:focus {
    margin-top: 15px;
    letter-spacing: 0.35em;
    border: 1px solid #FFC121!important;
    background-color: #FFC121!important;
    border-radius: 32px;
    text-transform: uppercase;
    color: #ffffff!important;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    padding: 5px 30px 3px 30px;
    display: initial;
    cursor: initial;
}

@media (min-width: 319px) and (max-width: 645px) {
  .lpb-banner-title-content {
    font-size: 38px;
    line-height: 42px;
  }

  .lpb-banner-desc-content {
    font-size: 25px;
    line-height: 28px;
  }

  .lpb-header-btn-comingsoong,
  .lpb-header-btn-comingsoong:hover,
  .lpb-header-btn-comingsoong:focus {
    border-radius: 14px;
    font-size: 18px;

    padding: 0px 0px -1px 0px;
  }
}
