.lpb-suitecategoriecolor {
  background-color: white;
}
.pdleft{
  padding-left: 0px;
}
.lpb-title-suite-blog {
  font-weight: bold;
  margin: 35px 0px 15px 0px;
  font-size: 32px;
  line-height: 38px;
  color: #335036;
}
@media (min-width: 319px) and (max-width: 645px) {
  .lpb-title-suite-blog {
    font-weight: bold;
    margin: 30px 0px 10px 0px;
    font-size: 18px;
    line-height: 21px;
    color: #335036;
  }
}
